/* 
    Font Name: Droid Sans
    Created on : 22.01.2017, 14:11:22
*/

$font_dir: $fonts_main_dir + "/DroidSans";

@font-face {
    font: {
      family: 'DroidSans';
      weight: normal;
      style: normal;
    }
    src: url('#{$font_dir}/DroidSans.eot') format('embedded-opentype')
}

@font-face {
  font-family: 'DroidSans';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAGboABIAAAAAoEQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABf3AAAABwA
AAAcUbAz1kdERUYAAF/4AAAAHQAAACABAAADR1BPUwAAYBgAAAauAAASwK/tcDlHU1VCAABmyAAA
ACAAAAAgbJF0j09TLzIAAAIIAAAAXgAAAGCg07VlY21hcAAABGQAAAFbAAABmqHbr89jdnQgAAAM
bAAAAQ8AAAH8OX4+TGZwZ20AAAXAAAAENwAABwVz0yOwZ2FzcAAAX9AAAAAMAAAADAAEAAdnbHlm
AAAPJAAAS8sAAG8oSTsMfGhlYWQAAAGUAAAANAAAADb19SDTaGhlYQAAAcgAAAAgAAAAJA3EBYpo
bXR4AAACaAAAAfsAAANMbXNU02xvY2EAAA18AAABqAAAAai+ituIbWF4cAAAAegAAAAgAAAAIANp
AdNuYW1lAABa8AAAA3AAAAeD21N7wXBvc3QAAF5gAAABbwAAAeeiwg87cHJlcAAACfgAAAJxAAAC
7ILcIRN42mNgZGBgAGK9+b+ex/PbfGWQ52AAgRPi/t/AdExb5L8F/0TY17EXA7kcDEwgUQBfqQyH
eNpjYGRgYC/+J8LAwMHwb8G/RezrGIAiKOAyAIeUBl0AAQAAANMAaQAFAFMABAACABAALwBaAAAC
HwDlAAMAAXjaY2BmUWOcwMDKwME6i9WYgYFRDkIzX2BIY/zEwMDEzcbGzMHCxMTygIHpvQODQjQD
A4MGEDMYOgY7MwAFFFzY5P+JMLSwFzO+UWBgnA+SY/Fi3QakFBiYAJv2DoIAAHjabZM/SFtRFMa/
d/88Rbo0BDKJiDykRCiSQTrYJ+IQHESCk4OIlBCER5FOUhxEQhHpFHAQCSKhFIeHiAQHHZwylSIl
Y12KFJfQSYKIr9+5xpKKD36c+849995zv++9Xjw8vUSlyTAqegxlm0XOlPDR30HRVhF531FWJRTI
OPMFUlRAqCrMBaioO6SZWyJHZLFTkyEbZIXMk2XB1QcIZY9HdAmB30JkfgKmjYb5gTW7yvgGDd1C
w5b5vouGqvO8bJI3+w95/4ZzTfIHa4bztsV4wnXDKJG03caJ2QJ6UuxvkXuPkVnuEaHGnjOMOTOJ
V3o6uTNVb9OEWDCHiPUxez4keayoffSbAIGpI1Yp7KlUcqrbbhz3ZBFL3lRdfSxr9CjX72KevQ5y
rqabgG3zfGBIX6NPf+L5TdHRu2bMOS072nN8SqZEe9IvNfoXVtlbzv+Kd+oLpvRVR39qLzmD5FZH
rr7I+VEy4O5yjtiOs3/q7dUwxHyovmGS6+fsFUIyQga0nCe6P4N/kdyLF+JDN7zbW+dFHS/JBL16
/ejDU9jXZzemF904L+iZuaBuovsz+AdYcF7k/4ceXIr+jGekRf3f//PhKfKNVfFBvOhGvHBeM8pe
1EyRyEWgwH+i4BWREdy3/puR6HWEWmFbzfD+xOu736O2L/4CMQ3PPQB42mNgYGBmgGAZBkYGEJgC
5DGC+SwMFUBaikEAKMLFUMfwn9GQ6RjTLaY7CiIKUgpyCkoKVgou//8D1SgwLIDLCStIKMgA5SxB
cv8f/z/0f+Lfv39f/X35YPODDQ/WP1jzYNqDXqhdOAAjGwNcASMTkGBCVwB0MgsrGzsHJxc3Dy8f
v4CgkLCIqJi4hKSUtIysnLyCopKyiqqauoamlraOrp6+gaGRsYmpmbmFpZW1ja2dvYOjk7OLq5u7
h6eXt4+vn39AYFBwSGhYeERkVHRMbFx8QiJDW3tn9+QZ8xYvWrJs6fKVq1etWbt+3YaNm7du2bZj
+57de/cxFKWkZp6rWFiQzVCWxdAxi6GYgSG9HOy6nBqGFbsak/NA7NxahqSm1ukMDMeOnz5z4uRO
hoMMFxnOXwDKVJ46y9DS09zb1T9hYt/UaQxT5sydfejw0UIGhiNVQGkAk/5xpQB42nVUTVMbRxCd
XQmh8JUVIZSq9uDZjKVASYqcspMAUWCj3VlLUZwgJFfNkhx2QaJETpx8oJIqbqEG57/0OheRk/9A
/oMPOYYjvjo9oxUGqqJaSdOvu1/PvO5Zl4fieb+319398Ydn33e+a7eeBtz3mt+6O9vfNL7e2tz4
6ssvPn9U/6xWXfu0XHrIPnEeFFcK1odLi/NzH+RnczPZjGmQKmdBRKEcQbbMWq2aslmMQHwLiIAi
FNyNARrpMHo30sXIo3uR7iTSvYk0LNogjVqVckbhb5/RsbHfFbj+w2chhSu9fqbX2bI2FtFwHMyg
vDjyKRgR5RC8GEke+ciXzM95zBvO1aokmZvH5TyuYI2dJMbatqEX5hrfSkySX1RlIVPi8QB2u4L7
tuOEtWoblpivXcTTlJDzYFZT0mO1dXJBk+pr+XJskYOosjBgg/hnAZkYc2WGS/k7FCqwznxYP/2n
iCcfQpX5HCqKtbN3U6fzvqQBMyWLUXlN8Djs6t+7SJwiuZJ1TdQyQHmlDBgNZCTj8buzA0YtJpOF
BXnCUWGyKzBr/O6vCxuClyFY0cjYSg8b7HXgo+5PAsxSQEcxIvjsMGfDdgrhNGb3/9wEhUA5UFPH
UQe/GLvkAA0464qJTcmB/Yq49UoIZqQ8r6eej58rz9nUc5MeMexmpyckZEvtAeOo8UUMZwc4T7+o
VjALlt7aDpPLBbpZD3UsxV21B8cUZsooC2bdTsBJUSnS0sbS28nflY0FyoVlusmQRvFwxqP0eTEq
IgGtVaFVmbS+L8D1ceHGaY948qiOGXGELTr2dfugzk5ghTVv+qm2xY97QqekabDiAYkO0yyoc19V
plxG/mQLiot1xSV5/O5N8oTafz4mT0joq+BVD+eqzKUYHMGDyB7gTTuiwnbADbHBIRPDUA0aKrT+
Bss5uiKYXl90eqzT3Rcb6UYmDkWXLfF7NEzYExocOciX8lSYdibEQAsBGuCCNRv4C7OlPH4tFFyj
alSbDSoMm0yjcRuwTvnQT+OUfYd0Ro2T15qy5ZSJPF7LdkJn8qlVTXTTtDBm5JWorakrU8I3AWIm
0mhIaVlUM08FG7KQjSi4u0KdTcmjVU7F0JqnverfsW6JhTIRB91TQ4kJQcW+LS481faN2brnbk/d
VOZZpycVOUsJCe68DUSNsLtRsPXtV/eZBTFeYrzR+j7LxHXVXR6paytZeyBZTzR0NL5BfrNPVa1l
0jE6/Watii+zZsKM827iGue9fXFpEULP++KVaZhe1AyTh+gTl5QQV6OmQhWoDKoMxbSHRl7H25cu
IWfam9WAtg/HBtFYfooZ5HBsTjBripmIZSeYqzH1wS4VR6gxvr85Haj+/BqOZBSqGSerqAg+Bhhs
G9Vh24lh5hZgjg2bMM+aCt9R+M4Ezyl8FifDWDVq1VNpcXZdrP0HdvDztwB42l1QS2sTURSe795k
Sh8wsaUltZYrgqu7SDAbsYsMXUwiWWTaZvrIQCdCHgsxs5jprtCC1nZTbbNIIBbabUGYCQWTncE/
4B9otTtFhYAuqlEYZ4IoeBbnfo/7ncu5cmT4O/XY86vjK7L1DYWv6HgfZf55LKK8T1xo77xzLX6B
C1DtnPZZ/A3Mbq9Lfr2KsngbhfZ2m3S8rny3LU0oH1pgTsxJOjTrGI7pUNnx1ZcLUcaOjCNy+QKU
N8GaOGieNInVfNwk4Y73SZ5uDo8qTuN1g1BeB6vjuO7UyWYdA3en7ruxWrKWrVG5NiYpsUMcH2L3
aZTJm+omoRH7ph23KbHx1caICc/EqYmGiQ1zxyQZEyNVeFWcVtGoIlOFeB1RbXrCY0Mhj4n+7skK
WCVWSVa8Skguq+WTslsOJUuQSk6JhE+Kl0VCgyWzRXFEeWBwVjBSzFBvsSsdX3Tk9Cc6ua9jTseP
PHp5PMwjk8dcHuJEYlwL+18XSlCNUUg0SR1KpRW2Eluhwcyz5fFJpeNdni0PjSoBzw14V36UE0eV
RZWzpJpVDZX20+ilsZtGKY3lNO6l0U+hl8JuCnMpiDdmPDaVmNSuQdIiCUkjEDSkBO1nn7P+zDiT
JDDprUQkyZOIaApbgiP0hFBEwPYUwujgoJVb4jzTGfIWM66o6i723NtLQZcX8q645wpaXl9tAc/W
dvb3hfnZjHtnadUtzK5l3KIP5ABs+yAy25oS5tcsa92yN/ifgmH9LcHiCDTDR/b/XsB9x89ali38
i9oD2/YTti/wIGkFF33u08Ep+B1c4JYNK+gcwVPcCiYORkfXfwO5aPbdAAAAeNpjE2HgZvBj3cYg
zlDKuo31LAMKYPFiEGHoZ2D4/wbEQ5D/RP4xUBNwQKg1DNsY9gDpq1DhUIZmhukM8xlqGZ4yrAPC
QiAEgV0MR4EYBJYAZXvArONAWAuEyGADw06GLjBrNsMyoD/KkeSmIbEzGfIYJjBsYTgIt5mBIY0h
n6ECqOoAw1VGd6jYP0YroM0VQFqM8RsOr7wDm90BdO00hk5GHoZpjBIMDMyyDFOYohiamEG2roC4
mKmS4SbDFkYuBgbGZoZchnqGBWD9uUC96GAyWK6JoRMhxLrtzxQGwf/vgSHUD9VXjaRjD+Mq5hAI
i2Eb43XGqSBXMTIwrGPd9m/Pv/x/zQz5TGsBpyxN+AAAAAAAAAAAAAAAAEYAeAEAAboCSgMCAyYD
VgOGA7wD6gQgBDgEcgSSBOQFHgV0BfIGRgauByIHSgf0CGYIvgkiCV4JoAncClALGguGC/4MXAyc
DNYNJA2CDbgN/A42DoQOpA8YD2oPxBASEHwQ7hFYEZoR2BIsEuITQhOUE8gT7hQOFDIUUBRoFI4V
AhVkFaoWChZoFswXoBfiGBQYYBiwGMoZPBl6GcQaJhqIGs4bPhuUG9YcLhzcHW4d2B4mHoAepB8A
H1QfVB+cIAAgdiEOIYIhsiJsIrAjWiPEJBgkRiROJR4lNiWSJc4mHiaUJronBCdCJ3wnwif6KEIo
kii8KOIpEimIKaApuCnQKegqAiooKpIqpiq+KtYq7isIKyArOCtQK2orzivmK/4sFiwuLEYsYCzG
LUgtYC14LZAtqi3CLgwuqC7ALtYu7C8CLxovMi/iL/YwDjAkMDowUjBqMIIwmjC0MUQxWjFyMYgx
oDG4MdIyRDK+MtYy7DMCMxwzMjOYM7AzyjQANFA0mDS0NNA0/DUoNVw1uDYUNn42wjb2Nyw3SjeU
eNqUvQlgVNW9P37Oudvs986+ZbZMJpNkkkwyN8kkZJlJAskQQjZCgMAkAUKAsIRFQaQIiIi4FKmI
iBu11loXQKURqRUoLrWLy7O2z/ospi31tbVKW21dyOR3zr2TBeT92z8wmcnMmXvP+Z7v8vluB4DA
XWO/h/uZYUABK5j2PIBjF+NGlSkh2HfY77QfsdOU7jCNEH1y7ExcxakSNFTeZ0QUiIU/ex2GQ2JY
GIkki4tC0E+JVEkNEiNuZDbpkD+zEMG2LeL5i6bMQqcjnGkyZYYdzsJME3yQtn35fHapj+d9pdmB
0kxByCwF+A8Cu6lH0TPSXDgQjfvpQxynfFP5gRKFlUPK7UoKHAKUQH1AXaRoikWIo/A8RDEswnBy
JJk0VIRHiosg5ad8+AGbcjfmooLcDbnM8OhFJJAHuYcIAP05vocTeMC98fkU5XDYLG4XR7NWK2sH
kKaZp202n9mToaCVJpOB16lp49OqNgEKgkajbFNBVQZMaKH2qEZBazxAOKq3m/Uxfav+vJ7S6DV6
xmpkVQwIizHRUFERDif1ooiJFJGekpEIniyZczgp/MFaEdEbrBV6MUxeiunXYpiswmfGqzBKj1Kf
9BAp6WGG+Ffq1zFoS/2i467O1Psdd7akUtBVm/oYhjru6oCBzjs7IXvpL9AfT71PbUud3JvqhE+S
x16Y2AuPp9rIY2/qJExgSm8d20u9yxpAASgDMXAiLpaEc2Fu2Ad97LpwFawKu6Hb6OUgx2kL12bx
mGpoDEAAIAdqtdro2g/s0E6Yo0ihTthFkym3qspYGFVU52z0BXyeuE6f8HjcbT7I+zw+pPCVGDcq
dAqWZRT4S8+qtAkFwFwkhvWERuGeJKFNSPoFE8+AySHq8faGkiOY036FP14fGdFXEAomxSTmPPwX
EwvzG2f2l2KWC5a6KVFfSJViVoyWimY3tHKFMKh3U1wJ/lRfA6HJjax6HaTejSR3d94aGejr9Prm
9S0LL9jVlVe8cGfrrf3fr68rv71p/p6FhcdNoQYxuTBl0OfUFS+YA19s2NAZ1fzxfaXBoX9S8Dn0
8Bl33dy1TfVDc0qVJ44zeZ799lw21e2pm7Mq4YsWZBtSt+mWoO9kVYSz9XC9sIDwOQMGxj5iReZn
QAlcIAgqMd2Tz1QJNSex7IlVNVU1OSb3icgP/CdyavlayJxQ/QCcEExeU5GJMsXYGltgOPqcb7jA
Tg3zz3HDdg7ERj4dkR4xIgmfjiSF3+Kfeon9ysuLi4wmixjRC/5MlkmLZmlaVOH/+YkS+uGXjW33
39/WCF/NatrYOnNdc7Z/5vqWWetnB+GT6U9e8eNPmtbNSn/SHBwDl955kMqn0Xe/C5tg4jvfXf3k
plhs05OrVz9+bU3NtY+PNn33EThT+uAJ8sET4x9Q3/qyCYsl/kOBNWMfMduYXwA98IE5YEd8dtBm
baJn5s9MqBrLahvrvHWwrK6szsVUVjXSCdAI8oV8pMjPz/QmYGKuKyFkejNRZm1tsaG91SJ9l2+s
qmTo4plmvq0YhEdiWNLwvxjhJUIy4ZUkftWTHNHj9yWhFUaEEb0kkYS/MMvUYJ4qxBRijRHMWlBH
mfG7AcJmMreNKz4O1lBRUUdx0B/UUZIafFTwlWRVdpVn2MN1eV39e6Yt6Ux4U9tK2qIZ/rq+1Lac
2UONnqqCjEjPrfPn7FpYFOlcUwX7nKFMp+okn1taG4TmkceK+1Z/o2Xl9zZW03fgldUH/DXxhtys
6nz7gq+OWXPKPPAeXywxt7xsYW3WxZbr+7vysmbPW1oxa/OcUGjO5lnxNcnWrNTtrqrpLeG6oSVz
c1PvPVnQWOwsXX43Fmasd2GTpHfz4hlnmDeZDxgqzAwxaKrCRUhSt2FZ2cqKVlKysn7FGgF0pF5A
IXwdI3DEtazu78qLMfyu7gvmcyCz5h+wtBoJzUQWEfpZ/YVUR1bT+pYnb98faByc8XjL+qYsVLzt
HxfeTp5NRT7d/NHvftnT/frIRcIXEFTj61ul62fEdfj66ovH8btm3efMF+QGwm/lO0j6wE82DAVF
N4WsWbPWtzw+YzCRdecdT7asn4Xv8I2LI6939/zydx9t/hS+fjb59oV/SPNHm2kTawI6kBU3ewSI
l6/bobtTRyl0HhayLJ5ELBJOQswpFyQKBKyMkVPDoDEQZSh0KATvcKRu/uyZ4w+e/HtqrwvuCbGm
1OahsxmpU31wIHW4DzZknB2Ce8m9BiBLI/phoAa5cZughazyceoTAL2gDxzBG6EET7HUs5jeI8Rg
JCOSlYXYDGCmxKZB74d/Sm2Duw7CXaltB9Geg3B3auvB1HaZTrHU53AL+BhoQHnc9IYOCngNR3SU
UxPSIA28h+WIwtYKpkQvBwWs2tn7NSD8V3KfkPjXSJLsbsCKWRjTMAoHeV0wLNpv5V1Oi+Jja9n1
39haXn3Trm2l8r064FuoDm3BUzbHlYiJE9vwPMQyhi8nvI63u9Rn7oAX4VuPPSaNl/AG+BLvYWnc
ucN8p/mImdKboergGfAmQCVgOugH1wAa4CkOY7wBmPt4aW6hZPKvZGLRK0DGXVfii6EroQUEJmz4
P5T42/00RETNKjGEEQADAUEyeiiWR8LlYnERUXrow9EPnkU+ZnhcHyGwZOwjWoH1kRFr6+y42T0E
coVcaBryYjDg38hz9o2MHSvh2IgkG1j5Eh5EOojnB7FCNdRAPGNoYDDHi1h7yIpEh2iFuP6Z7ZuO
bawQh56+YfPxa6aNGt11q2bPXj3D45mxevbsVXVu9P7Tqf/98cDAj6Ht6aeh7ezAsrOp/33m4Ad3
z2o6MHLPwQ8ONDUd+IDQ9Rk80VfxhAVMV1/cAHmo04G1p+EYRDdACKAAvTAOaRZqeRbYsLj8grBx
khhWvYjp6vPriWDqKB4GoYhePQ4pCuodTrf5QB/cfpDaH1qyeEGmwWFzGrZshSFpL/uwsr6I7Zgf
VMW9fsWQ0xkQAjBzCPqgXu+FECoyBe1GC4cyr4H4liOR2AjGRAQAEXv/V4yMwiOY6rmwFE6oVy5Y
Q03qUgyCLl5aB3tmbZqTnxnrKu29d8ZAzqLBTbV9962uLE3unJX6ED19P9zWfvOOnc2V3THv7KrN
WbFCZ9my/QvnHr77YHvqHUWaT8c+oj7Gc60AybjaV+QrMjiGlMEhwmfxHJM1AYCy0lsJWw3QwHo3
PuGDW3xQ7YMKn88czt9Yypk3GnR2Io/SGmTSkaVgJo+EQ8RaELsxDkbcUObPbAxI4Pieh2Dp5PZP
LJQ6WzjnmsanT9be9NNb15ydO+9nyUU3z8stXXLHgt2722+Ym59Vt6h81XeaFmUn125rWP2dteV0
38zr5ldoWMsP9vcduSaeWfB4YSSnaXX99MUx9z05TQPVJR0V7vqybZ6yXFvZ4t2Yf60Y88aYF4EK
b3xLPF/ZRYQUrdVr1JyXwvvsEBxws22PDdl6GcgoWds1kGGQnmMRYRSyXKyGJOAqoWyMvkT8RljC
Xn69X+8rhRim+SQG8hPTR8feOT6aRPe88E5qK0UzUMmZ7Q51ahlMENT5EPXrS0Wwv3zrtQOZpuLi
QmH0iLxHu/Ae/RPzcB6epS3bMcRguw6DWVk5K/xwgR/6/Rd5yJMNM2Cwybs2AmAOXpPFmjcKqvTW
EB+A6AoMr5MEOhJhxBwGpygMCSJK25BNhJALGgnUroHIt/SJ7YnpN7+8Q1y6sMPnW7BkaV7rN7oK
jz/mjMUqzN1R9MzoR0HvSmpndPWRlRuGb6hXGd2mJ61ZNm2gZVP7vnsYhZKuQMcfTSVZnaw31mO9
ocI8F8IILxr3Fq/VZNYKtdBaOQSwnHqx8im71uXi8jcG7cJGjpNUiF5aAcG2wm8jI5K5pAmbWM2F
WJ/oaE6clA8JXUxRKMSkrjeXLvrmK7uNhRhG++eHuvf21+eZKI2porm3svfw6sqaax4Z6D+2owm+
V7U0EfTVLa2rH2oJBWauRetXvnn6kS0zEMMx92k0oZbVuw60ZcUKHJUbvju4YXj79JYjf089nztn
+7yGoZa88Ky+ovrdg/XSvnVj/mLxvrEg9DQLiH7V4+VDRiEoIGLQNZSscSRThsUFL5EoWx8xZ2YI
7Ugc1VFPjr7DCI/u//I9TJVBTDeA9W0QTANNGP/Ncfsja3lVTmLtOeZtBv0AMynDNwvNMGetvWbt
O374cz88RfhDsHvtyK5yryg/VI4WlMOc8vLyRDlVflc9zK7vqkf19aBgo8leuRFMEDuZPItFuULW
SkSosZNGRBq/MlQQqZ7kHs5Nmaeg5DTwo6Zo9TDUQZjJmscBYzYq7bx7fV1OQ1/5tKF5pfVbvj+w
9olrqwuaV0wr7ooF6jfc/ap3+opEw6pEVnDmQMx9ww5oGdzmr5knFs2NZd3A/CJ//k3z61fPm5Hh
ae7dNHPR3SvKy5Z9a9Gs6/qaMjwzu9fUzds1P/+rR0sXxPz+2kXlJZ2JuEdXdR/VObisoiMu2iwl
dZ1lywYJLxKa0pgXc0E1thDuCvMQiAkYlK3VCF6vF3lLrnU6ubyNAU64lnNM5URRsmgyrKLTAiSp
NCLql/kSaQ4cJwZNj7NiYT5hxT1HB0KM1lTe3CcxYmzjdweWHd3RlAqMM+L0tRIjUg0r33rxu9dh
RmSZ+7Wanm//anNWTaHMhs8RNvwHbMzpnMqGq+pkeZOwBT0g2emaeIaQuyP3ztwjubRbddD0dXgR
VxN84b/PLsgYIyajDPFC5CowQ//vYMe/gyHU/mCpT6fzlQYDJeSNEjxfgtPIfDVYFyyOh4XMHZl3
Zh7JpK0Hz2jf1KJ+7TVa1KaF07WwUgs92rAWabWXgzj9JIjLuM8gyEAuNgnlJJbGfy5MhXRfi9Nc
BvH0V65kKuZDf71yFRKWBR9jLPs+lv+WeBFQxBUYaUCIFQBDsUNgO0BFxODQ2Na0UeuoHdSb2KFg
YhRGX5ClgGRL14tkqtjprw6LIrRJdhVPGSMDsxLS6FI/df+oD53/GD42AEeOpA6kXsT0G4CnaET9
SYoXLYpXc0gZx4NfAfCHAH4fwJsB3ArgCgDrAKzAM6Cf8jBhBm3HsI8RGMQyDHjqIsRIaQjPFYQl
LERCDITr039EogtkEAvxY4C6n8yE6rz77tTAwYNfWzsjrR27CgwNIQWG2O0sKiKeA/r3axevWLtR
SRYPB9AHo15yW7gP1sHVR1KegdR8vPbA2O+pAJZnEj+oifsih3Nygg0AmNQNGdXhamhSW3kAscdS
cF/UKLRbaSzSYvgCCbFICAyLNJFvUQqZSdpsKgKDEwhMR7ng1/jFzgfrIkXTQ2Z3xdzyOQcbYu0v
LE5i3eQsaysrqcvW/fDrMb9AxaK22Xm59TNaS4taKzwlmfvzKsW+2+bVr+zuDBfUx+ryDam3vh4U
RGDNWBO7E9uWeWAFGIrH5lv7gh4r3B6E1mBDQ9BKtRR78S4MxgdhZbwFtuRrFho4Q38Gb/AYThuw
4cmAnCHDkBEvm0PFZ8wEYfFs7Kzk4vcke5LCWYxDz0rQ5iwmyfqz2P8Ph8kGnBXOTtF4V2g6K6WD
GdB8GZyn2QnlFzUT6J+VTaB/WZYYoS0GKc5Sg2JQMuKI3WkMVDQvnlYws8TH0oayxgWlszd3hCqH
HlxS0N0xw2qF0JwZshY2hG1dh97a+v1U6lh3672/v6t681B/qOu/b3w29eG5gU3vwejZ+yF7evCS
edncaEvEQesyZuc1LYtloPdqtq1fnMh1R2r9gbrijPJl3+xa9tj10xU6vSLVZ3EKCqp0eg5fveL2
lm++f6h16NXUJw/f8+cjHTqbR39Hdv7AOWh/9gU44+Nblv0o9bfUO7s3F8zZOGNUoZ3Wcx3ZE/yH
fp95AUudCdwUz2KZBgQbTBCZqJkKOBPDfuz06yiMcTi4g7uTe5OjJGVlY1UJTuA4C2/xWMKWfZaH
LOctLEfREmKgUa/Oq9IldIzJxFA0MGBfO1YRNlSEsDyWiz3EWygPYWHRE0HBW0iwaAWBeRhKkJAv
FJWQKqSCWMtRtOfI6PmHX0D2x5EjtfwAqzcYFJzBoGf3w5dTlcwLX05Hg/AxQ0lVrcdTVy3qsUhh
LfIqXtcezGtWkAnCYEm8Ru3uZlh4gf2MRb8iYpyVt3Cdfoce6ZcXby/eV4yEYmjL6rb2F6n9fVts
UG2DCpsNZPVZDZl9xLWUrWiP5CoI/8SYLin8k+CKMNEyRK/4xuXMnMYWPmMam4agHfrGuetVuG/H
uV11waY1M2Zs6S6p3Xp8KOU89WnnhgbP4UfPQ9X8zTO9vlnfWMQMB+fdsbxmdUdUqdIUtF7X1f/A
mmlUk7tyQeV1K0bvGb2Yk1hWXd5TH5Dx9jaMCQ5J/ltz3HRMB3Vxsy2h09lOeWGfdx0GBeO75vUG
jgUgs9A2kOUDvS5aq+o1GolGwf/IwsjehCTfIETCFBNAoAyLAjXVC7aQcCxlX3V0a33lpuObFhxp
CbbMXVz5yMUHmud9/8uHV7/U2hI7wATbD/1m7x3vHWzxWx/mrTpu9SvQ8v1HoemVtfl593sLJb1A
9uoS3isN3i3sk2sXguV2wQ5N3Wy/zdjHUaY+1iD75GR++CH55Czt9+l9xBnnJIdML3rxZfqGU/96
LPUteM+9nx/tfbnuhpPXvvYwZmIN+tPzqT/9sIcZXvSD1KfD33rn1vqv9sIsmXb4/tSL+P5qUBfP
NimgQgFpsFzLqrphv0bZ28pCnj3GIgXLqpheRKl6oTwdyXdcL80qIvyRYOEk8YCloI70oF4cVaJ/
jZ5D1tE/oWpm+JFU1cOjn192TyVYF9fjG/IUHKPgDupObFUoimxWOYY0FKXm1WH1PvUxNc2xAM9H
pezlyXxi7BA7xtIKNu5wJdi4YE6wLCCzI8ImTS0UmphcT3pT1+O3pfBAeoZw56nx6eHJjV56ZJKX
/i75OtG4OxTS5Hab0PICoQB6FmoG8kO9AGQ5evV0Vi9nHKfD+NZIIX0S3dJPMgvRm4RZKP8UVBnF
1NHBP0TXbbpx1gN/f7Srdxiqnxj6+fxE1pz5ycLrX9heF73uxZvzZ9ZEHal3KHpUNGQYVSvPQevR
J6Hl3Mr8vIf1bquOMNeN/31/F6NQM/BEmq70O9JeVsf9StgNlmnPaOFpLfRqoYLuZvo1VC9Ptlih
YilG1kyiFC9OSzXhr4hMJOwOi/inSL9zanTg1Cl0+BR6fLSLGR49hFZIcQjMvP3SvebFs9XakBZt
1d6nfUL7lZbu1MKQtlI7S0t5tBAp1KpuBr2G/fOTY5/HBa2QkCCDkmYpSkXmcDaC/5EgTih5NvK3
s5FeAljWS+GUqB7DNDOnt6L+0Y+ffBIZnnxyIJc+lDswkPvVilyyX2OJ1Fa4UYqlhuMZ582wz7zO
jMJmyHdrKApoBA3iNFqKw/sWHomRu5BUnxQapKZENfBasdZyic0ZmS0FgVnV2T+sXHlXaqtWfUSp
NkbmT2eGv+xZeXhZ8YTM0A9LMtsfL0CaAQ3UAJVaUKsh8YcRh38A3XEdDJOQpUx5LRLUQkJBLIQG
v0AKBm8BYPDy5fxaKDS+BcQ89JD0Ubmor8C/ke2AnLQdUShC+uG3U9W3nTq1Bb701ujn6NSG0ZN4
UwKPYedz11TZYoA/bqS5YxKoprpBPwspqhdIwivxq3RpUQrDvnqKCOiXFx+Vv8+G8fft4La4scxO
AKdVp9DwiQqsV/XddrKJGfhXOyBvAq1WoxSWOVud0OuEvBMq1GSAA3+UrYZqpOhW9jtsEApKQwLq
1JRegykwjH/RKCT2i4QwB4ohvaR9I5FkqEdiQn1FhV4MiSFMkBDmx2TSB/0WqxuaSZAGE4FwZ0lZ
tCzqh5Q/NUPBYpfwSWiC97PwQWg6RVM0pUjVMqBpZuy2iksHmeGv5tOPfdlEbS65ubpx5ldIXiej
k2xkezxXl4NxvhnLi/24He6zQ4BVMAribaWU3ap+mwUJrC2B1JSWzB6/1KrSs4/hWaannpaepCQ/
k9MVoZgdxB62XmR0vx4tlqf6Dvo5tu0kMnmUPjW7ufabFZc+xJNsbm7y1tfXOCiv7AdiXcSsT8dr
S+JeN7YNuWdy4elcuC4XhnN7c5FpoWogx9/L0/ZexjhpJuS5/GfRW2Z9+5G/3vedTx5obn7w4nfu
+8uR9q/eKln13Q0bvrsqEhl8ZMOGR1eXoPe/n/rzK6ux/bI+/jg0v7Rq1cupvzyx971729vvfW/v
rb+5p739nt+ACXsmYrrqMAc1xPPNC3NAOSAJ2uXON5wwLjEJy3Pdin4H31fExlnEspy9T0lxku4m
dmRcb8soQw5FYhPnJwYPwQlcQYvRG944dPAUHLz5xzdUjbbsTN62sPCRo0do1cLHds4efZUZrlhz
JLXc27i+/Zt7ZXqmlkj0dIFiUB7PzMH0FM+I8LQI14kwLPaKyL3QNBAp6LXT/l6GNypBWIrGXUFT
EkGR87H/AXGLe7+ZDO3t3rL8KVGfa/h3ZN71ux/clN2zr+qbM1/ZjtB/Su8jmN48yAA3xruUvJ1H
X/CQV6j5BK9RaiCngZaFCs7GIY5T6uCfdF/okI58qtMKWnfMvc/9kPu0+7yb8bqhALtRv0tDCX1Y
lSjwI6OPwpZK0lIyAsT2bhwBvl4ewTA2EibvESMbIkpb2iavRY56+2FwMmaM7S3sh6pUcfuKKPzm
e6lvX3ik+4b2AAnEHUGLRh9hhl9/a96NyRrT6Hq06EH/jOUzEv1xl6RvV4x9RL2GbbKIMUqQBFD1
3WB56enSsVLUVwpjpTCvW+kcKNHnMcHeLC+t61MSYcA7J+KpkflGRuTdIwkCOBHQpjCwI3MLjmc+
JVTnT8e93BT12owdJzcOna3NnNc3EDlyr2vm9ckFu+bmxq/59uLNLzbV1353/vU3uxs2di7cuygM
9yy+dzDqz3xG8Nj469aVtdXHAv45K27qnH9rb6TAf78rtL6vYk59pS+rue8GOZdDG/C+caAnHuGV
8E0lbFW+oUSC0qssUlLH2E9YdBPB6lw3ilMfUAiDJAVFzUPL0WZEofG4D+KoXjqNeyJyxBgLDqlB
SKbNKDHm2Ij60PofpnqoVKqXMTySxjonMdZ5nzmJdSC2nZZuKKm/IfsxO8IIVNet7rfpe1mjhngA
kQkpkIVAPx5AJJbTIoMa+v263a/dsuOl3dN/+NSxBTs6ciBz8lLzhpfu7Jj9zVevp45eShw7U7bk
lnbqJAmj4PXfJtnQ1XGBQkolDfrgOngcXoQ0JKuzYLyOGRLqwrrtutM6ShdnlQmG+FgnaIamlCfH
PnhWpU8oiUlV4Y+UiDIASEkGVQxhzUy8rVDa20oHJfDERcyVIsTyWwOj1MuvpKw/TNlfhkFXnp4v
9MjJskuLF36/qen7iyUa4X1iU1Is//ywoMB+hcBjC/cD/ILnILF1BvwSAvIJsLjIkyuDvB3GrzIC
Jg7S3HTuBPYc6YApkBWYHugMMJwlELBwlFsLdHCdbofuDF6d5KLgDdUJOl3+UP72fOTNL8pHfD5U
eNxkjUa3xYvXaxHwWi1a4Ka4QCBNg4BklpSJgOAioopXrydEwM+yx5mc8DkNVkyHcDiJ0bFkYCd/
ENIY3ZS1hooaMY0orN2ygyyngxzxSNOfULkvX+BddiNLawSj+ievpva/kNI51Bq1Wq2y6/7+QuqG
l89rTHodw/AmqxZT8rHydSt7srO7ly4vpjZgA/y4uDocLRGj4XVll7CXd2lP4dIlC7MDS1YPFad5
ok/ClDvjLqVKUKlAFKMIRTkDGYRIsc46sAOcwfxIqGUiYU+MtLS8lsQUt2tpBcdiSjzLsrIrLtA5
CAYVGILSSnbcExclZxvTJRK5zBsn/EHKcfSiTY7qYwCN/2FfHGOuvrdTD+K1Yp+7+xXYDFteTC1E
W0d3o0vo1OhbKDzaLMsTmX8Uz18BNsbtn6igKq7UJBRPcPAQB+McdHIQ8wxHphbmOAbuQLAVQSeC
SEAI0N2bmT3MPQzVmo7rcUwZviakDZzM1YaKZDrVWYGnToJ6ZO5yeI+4q2SmWPtCETlh509SdT9M
1f0MvY1+f2nX6KsoTO1J5w8xPkxJvld53KvEZnc59rJi6lb1Q2paoaBpOKDi6F6GQgrZ06uIEZ//
j5EwNsj4KRKW85xSysNHpS51oldHZ1O7Rqeh9/bT2x/d/9VO+T6PpF5AFZJ+y45bafAP9m8kd3sc
nsHizXyGPmc/g19M5Jr/GpHcJp8Z4yVUkVoF7z5/PvUC++XdXxaTa1mxofuTlPf2PYcwmIQMoIge
oJCc+A4TNteL5QTRGrF8v4a8z4x+MJ75hkBMvQBfk+aSFTdR4B/wb33sOgw8lOAz7gvqM/rzNHL6
lTwTq6j3l+LZiOfPw4OpwaPMG3d/wZLr5KIAbWfOAhYYhimK2EcWkPyznpS6GYlqUcJc+LMBePrb
qWOp76AAiXei86M+7KdcSr1AtYwRIGTAc2IgPIWk4gLpu4ScVMulo1RH6oXbJfrBvfS7lIH1AS2w
xFWAVezgQS8JWYWTjp/D8C9IxrKQCpaKWDApw3X+jtkx4T0hVFhkpt/NmDO/3WnObG9vdskYoQfb
z/vpHuAHEdAZ1wswt9E/t4QvGSpBbFFC4zg59mbcrdUnHALmV4dD0yXaLW2uvA5BcAlZbYizADPJ
n47EsK+LTYvEDqGQMNIjIV4CeCcji2UxeGX8VR/A5qEacqTWyELZAwpfXUtfbMY1c4s+/OikK9pe
MmdfXbxpuH/g7sVFqXD1iubQvu7rZ3oXHyqozTMF27d2PnJcwc2o747aijL35pTnLrh1yaiwPXv2
ta1LOdpb0S4u6pLXeRTbsxhrAh4QBuU/KEgw84qLT46djFtVM81CoNHQWWQEBnNeG6+yeNucWHfE
IgQjxGIyhA/Jpm1qjtXPEb/LxHIsyVdaJwNCJCf2YM/hNVVVaw73VPbNrrRqAruHEf6jsE6b3Wdv
W1XrdNaubt+zfTvdk9j3y9vveOfOmY7QNO9trCl1i781MyfbX5Vvv0dccf/KZQ+siv7m52++LsnN
erxXQ3ivPCAvbnNpfb2+7T4k+KAlwXR5je0qwd4OLFOQvhTXZyaCuulYA4YwFjlsBVHHsuM3NjXv
fmag5e5ImbW8aprjgTv3H2jfVVa21RTb+87BB97bW5NpP6wy8srXfvn2uYD9YZd7Mu+LJHoWYf/D
lQ2cje65ESECCxPqrmKPOQOE2iyC4G2DrCWNt2RajvNF4MqAM/GFIMEMfsIT0TSnELboVFgqZ/dV
JQ+vrapaeziJSVplwR48oofvSr3SvLLWg9LkvCuzutAxQdH8ad5MjyMqwBNffLSrsOeOnlyZmm/9
Qp4/NYJp6cb+U308x5+wC/NyP8iFQ7kwU4/pmaNvc2aGMhGfCdnMTJOnTSWYxqkr10aMTIQ7SQ6b
mbIUF/Sl04dmHUVhbvfhtaC+tcO7EnXXfW/Z0gfXVo42M/feI85rbw7mzG6f17dhtxp+5KyYb2r6
5n/tueVXd7c07vzB2vVnh1VGl+FhY4ZBQb13/93T17flS3yARRddZD3ACdbFW95wnXehPtcO152u
Iy7a44q5Wl2U07ldOC0gQXCgRoqjeIZkhY4xNMOQYjcvReJpRyhsDCHTygEH5By8qU0LEZHlkVhP
UirJIvGQpFSnihEjiecm07UQ/tLoZaBYh1csots+e+7HPy6Y+42WyqXBsGdmTs60bONn1NlLMers
rOl9q+7o9Ft1d6j1xqI5tSvkGshAykRdwnsQw5anB3wvbtdGmDmNUUO4L7ouuiNKRcPRcDDhWtDI
EJs+G9t0hoEqFxx1weMueIsLel1FrriLcrn6PH3wdN/5PnSkD8aDcQ2fCCImoqWrujpUqsxFrVX5
LbwVclZrlTCjNdMJsUsUOxsjSqsneVZKgYdHMP7BIPlsksAfCSFjw0+qXs7q5WrJswLxGDAJzNxk
6YtcI1k5VTHIeXOs6cqik84DHFcNxN3BBJPKVcuk+gyWuvRyRna49/akJV+n9zn1ttxyz/Hkjvas
2pt/cduqI4Olwbp54byy+IxQY7EzsuRbiwOtzlTcUbk4cep5W7S79ri/OZa7aPXS/uUr+5cO0k3r
nf41M5p39pRCSmX35ticPgMbbltTPf/2xSV5besbqxbW5amNHaXVC/IMsfY+ccHtS0rUyq9QIF7o
3Li6cJpPI+TPpvo2rhvavPWa6zC/HSX+CJZ1O4hgr6vRPtcpOPucO5wUr1M1qjsdAt1mFjQYmpkJ
ikrHyyMR2R3w6eUiFCngoZdLOyxmPbVo5br2tfWu4WGFyj6jY1HRc8+jczfeWDJwoG/0VawHI3eG
Ynmm0/81Ksr65ghm/GuZC5hr9CAQNwlGrxFpQCMNOw3cHJ5HvGyHwhckly4iV3uJVEmZnNVj8WbB
/uHhl6oLLEGXPpZfUE03wdyqMm1GyD2topzcY+yFlEm6hxH4QGHcLvi9fpTBN2pMFKXpzLTO8Xi0
PNeGxQ5zjnQnAn3k5gDj1wKGxqm3riuKWR1lfmeh3zicmVhjnJxFyqRTH1Cp+WCtSH/6lW321nlh
rnfqtGT6Uxelms0e7NjRNKIodjrGvUQqrEQqBIYReCEsIE6rbFR18moApIAqlgNOCsVxFKsyU7xc
6VSBPaDJ8DfxgDBAqiAACUYJqB0PKVKwaw8MvJ0agk++lTq+5sQJAUUfhytTgdH98POOVDdrGi1L
/VWeH+zH86OAI64TGC+DQCPspDEiMYO00pe3g+wAHpdeE7sHy34+WBaP+VWNz6vhQfWjarRXDZer
N6uRWm0BjflzCy8WwjcKobewrRDxhVBhNzdaOgv8DgfNt+V4BCtvkbkuQjAIaUCYiA8R7pNqX7Cm
jlzOhlMY0irzo3WcLZm3+lfOHKh1P7d05ewVMefwAYfKVte6oPC6h7IVjpnz+iLHniZsGl64Z/7o
w5MMSzcdIOw6vyc8vcCSZtq03OA12kBRPAM02uY6BEefY4eDksTGztNtJrxFV4jNVaTG+jWhwdP6
mtCk5yDdXbbPBfjeRmKh4y5HAszzxX1v+j7wUbwPsqaEqsvrauMFaxszCRl6psSxptpmZoq2ogvq
tz0ztPzo9sb6bzwrPY+CvYcP7yEPFNz7zv7m5v3v7L3l7f2zZu1/+5a33n77rbfeeCONwVImOibh
lyJQFncXJpzzCGLIFlhNo7az2Numtwg6XuMMtTHE0mIARnZVViZpujAS8poIoFqnVIpRpNJtKgST
oZeEEw44JOhVlUZlO6eCBhOBXhJQSIXYsgP+6gLnOISg3ivsub03dxKEYbriNSC8BkFeQ8jLBBqz
JOCjS1i6irOcmbxX3eYU8gFeTTp9OBX4EORzObyxXgaCouJE/FpHodKpEx2YBEDNVVaF865hogk0
BBtdDm/uGZ+/s6Daf+CLn8J3jNOc3kwCjib0iQKvwQJq4+pnqB9TiKABJGXXnJw6QVG2IlubbYeN
0msbdZ1WnteaDSRzETubXksknTgjkHgCBEzsCNrrSjhsGZWO2IpZucMHLAp7ReN8uodhHmM4sXd3
++hxuum1UFt1gNTVYRxGeKIUJOIFAWPjnVjTIzAvGov2Rh+KUkIU5jcqH3IdcyFXV1l2bpsxn8kU
lDqZayPY8a0gTsc/kySMR0LC4hVRPDnE+H+G8WLT1hzuW3N/pae5c0F+7cIKh6l0USKxsS0U7b+9
a/G3E7HavY0DS6zlPQ2J9W15sKDtuvYcf+ajJJBnya3M8kSKIx5PVdPi+oY1Tdl5mXe5QvU1/pLC
sMtdNYsESoFv7CO0j2nAmK3tabukscMKNcYxnpin1YOszkaTxxA2IAMQMFgWjgtnhDcFlhUchlaL
ycqDNrUknWIakL1CkJlEezHNR+Y0isagLAZFM0lgmizwS0NBnl+pzSkqsdcMzs6/776WldCU+ii2
k2YV1K2sRsl4W3YvQ9vaW/54ae/orsVLZL+c1IDTTcBB9BW0NjrmZggZfRk7MihsBDudNi1vmOrx
iRNcPdXLmwj6kVfUtU5ZUS28dVF4eHBIUl53hWK5psIlh1aiX4xWY+217EAfmvbV8ESchHoHz0EP
1jwP9NiI8SpdQg8U+CdQKiEvkJ4qgzlBnuMZmFkx3QTjaeMbxk+MVJsR8sawsdVIcQhKwT/YqIRK
HqbRAYmSlJ+dCHqFzkqhPynC5ZMDWaIc44KbU3tfeFXtdttpjrG53epXX0jtpZtGH/CtWN1nt/et
XuFDS/GUpRgg83s83zA49zwI4/lq8EzDQKHE8w16pSAgfun1kDc8SoGsQ4oSxpX4Dd7WGYTBk2Mf
xM3YjC+0QZsXPweVNpsySOkLCtNrJc9xI15roVBYWOwtLipGfDHkDHqyRIu+wIMJo9TzQTtrH7Bv
slN2IJhJrC9JQn3YuqcjffKax+N8oSQJgF4R5/OR4pLsoP+y4J5MkynUoS4+Rms0WlbHszqt2q5+
8u3Uh6d3qUwGHc0yerNF9exLTyqtFgPNUlqDWb33VOoPaIWhIFJin1YTmxYZDIzej2l5smDl8oUu
x7zFvT60avTuzEW98/FvK9aEUUJiBgj8mBfew7RVgwvxb+9VwpspyNLwXzS8QMMyGtLM/7KQpT7E
I5VKBD9H8M8IViCI4CpmK4PmMXAa08SgfngNRPMhLIUzIGIgJhVDqVkF/JcCXlDAMgVUcHGLPcGR
Pr5V3FYOzePgNK6Jw2BK0BZp0Z3a41rEayH7rgr+RAVPqaBSBVWV6llqlKOGjNqMwQpnhrzc/yPX
2iZJjZ3wW/wiRDyK5HqJ6LZwuuhOkN7TS0FF+XVxEUgmlVB0SgCMYLBDqYfe+PLLN1IPwGvfSH2a
+vsbSETW1AA8PPqn0V/AE6l0XFGFfajzmEaZoH84U1AogI5Pc41URe7CXMMLPJ91OuuNrE+yqLYs
yGeFs1qzKM4GpTJmDcBf82e0mZ064hVFYiN6UWKZs+KVgkJCaFP5gEj8BOyNQdWPfq1z2fGuMxan
i0hMS0Zt1zVtJc1Oc9xf1FAS4Cvwtt+XM39+h9/etbiHiFCwfWd3sZrdz3DW/Hjukck4ZClekxKs
jquV91CQUii1CbnASo8FhOPUMXWveruaOoR3j4Tc8ccKmiQ+nsMLj2EWkCKpBk6T4OhWhkcCfoUU
rdBMjEaIPPBWhUQxlJSVKcbAl8UuS0ddyJZSouOjnyL3Nmr63m9demuyP4vk94MgHg84GOZf3uDf
/Eb+n4IGavz8Z+8KWEX1Es871/GZ/XPmM/aL8ZBBupnij6L4t8jvwiQyY5JK3qlSgvVKMWiRmguw
QjeTqBLpr4Cf2gpqc2bv6i3btW3brrLeXbNzagtsmzdu3CwUVfu18CD0Na5tgS3Lu+7rWg5nt6xt
9MG7odZfXZQ6sXKrSWO6fpDEC/+UMqHtEj4viHsAA4uYOLOO2cHQ6HESDohTO6gzFMNRyEm6v6RK
iBEpYSeSHqyDB1mTXJsj4rUfwmvPJWvXZmX9iwN/c/zTRN3pgi7a8dkn9jE7etcO7XZd1mf+L7Sf
6T6frECX1i6Kf0yvHXtH0VIS7imRuxXwkjFwM2PDTHwnrrSGKh0h6xxfv6+2r2aSArBy8Hq8uq0r
YbNEh7slOqSeLUkUmDAlUs9IlDgoUYLUr6ImjJS6pR4erYv07whYgq1PqTxSMkkwJjwe5qkMkiuI
aVu1Q9p9WlYL8HT/9pNwKDIC09WqUK7U4Uolx84qo4uomSVmDxkC0YJcS0ZVZbm9/4ArEq0PB6Lh
HOkN29K7yRvoNsGiZYy+fPvDqxmt3XTZb3Jtd+o2uB9jIdKnXvs8AOk+9SL7Eftx+xk7xp2HdZSc
DuJJOggo7zMCkiDgEKmyvaJdHYuq33gFkH9ni3j+E6O/0Oko9JtM/kIH8UjRI199yCQmClPHi54h
eAFjs1PMz0AAdMcDBqqBp2lVwByMB6E7AVRFqrjqTRXNqpwbeQPv28ggRlI5Gt6Q4BmeoQQOW6JY
TKpElfqdyUNmLuEVUhUmEuSQxZK+5ivamaeGKalNa5v3zrt1SUnp4tu69iZuKSy1lldV2tOByl+6
0U9e187a/ereO352yyztk49QPqsUr/zpL//rXMD2bbKO6dgP8zOvgRxwbVyv1Q/5ed7DI86Df9op
q9SkrUvg55/Ei1hlwmrNE/Kgzx5X6xJ2e67gu1YbztyeuS/zWObpzPOZY5lcZiawXGO3cVNbLPBa
9JCoEkmhhMR0/a20xMswMkZoUgYcP2Mur4b+UpHIPTo8eLSurvyOWUUdVT54XeoWa1B0oo8u+fJn
lrpfeaVy5beY1wr8d7pCzsqeutS7e9+uWRAPCY8eVudOX1z/zl44fd7e3gjmoa3QRX1E34Z5PQpu
jvt1+yzQYil8wsxrbKzbRynAOgM0GCqECkh7sx7fIWV6z8SLWVUCgHLrDg/0aFibm2dpZe5R4IRO
LSMefUP5iRLdqTyiPK6kPMqYckhJKYHUSPKKlOInLf2vJOX1k/cICZL43b+dkfqniKwHo1a5NjJq
laJnLGflpBKJ7CAXjBbC6BXFEaf8np1LtodXV1WtKty59EZPwO/b3rezcBX2fwq29233+G8N1M6L
iAvqsrPrFoiRebUB9HblqvDOJTu9WVnenXjomomhWV78VLC6Co/Kzp78FhiPpdLNWKdZwN3xhUU2
jB81lsfN0GzW0Ar4BIIebEzQITyQo9Td95qgSeA18FYNJOVjcQ3FYbjXx3M8a+gzUsC4nd/HoyIj
fJMAUY8R8UbeCNUG83iWjgQSk+vTxyVIoVUpbbdeJJ3+kYokSc2LpMApnJSSkXLmToL1pCGWZOvx
X/wOEmH36dT2T1Jvw4LU28/IT39O7T5DsnrYIX9wb+pLyOInCki+9xQbwIGKeAAoYZEyrlyn3KGk
Efs4flfg4twO7gzHcBypkWJlW0BmDGU+HrcI+rRVIHbh0qcp+6V/EN21ZeyfVA/rATNAN9gSn8V0
KdobfNnNDVUNubnCmA8e8R33Id+iM4vg6UWwoQFYGxQKKYEnedKkc+UiYBVgYXYz02Xtas6ltdG2
QjMJSsv2k/AYie680pNcH4mQXBNRyskkeY0pJfUmphuvC+FVfT25vWlK0+JU75DwnyfdoRnUUXsd
BdM8s+ZKTuADifLa2xuXDtgqerET2JJnyy3JmNFcufq+vtWy3xiakYxa9WJP88yNbbmHM2LLEn5T
rs/sqF3dYQ9nW6lccU68gM/e0Fm9ZHogx3tbRrCywlmYH3Zl1LYsrimZO71YyF7T0jg0O8fnfZB3
W3U2LPqugoJij6empX9BIDYt6ua1WYXlmdnxygq3wlMwTd5TkdFQg8y7GB/bSUes5uZjmD/PsDcT
msZBG6BZwFP7rQ+R2hHMSJLMihcklhtx/I9UPkWClBY5Rhm4LFYqlucEp00L5pTDzeU5Rr9DmJad
U85sLCsqLi2NRErLijT2bCd+ReL4/WMfsdMlO1EL5oLBeD3zsoPnMx34b3bzOVACz5TAknl157JV
r5nBax7e7DGHzdvN+8wPmfGWewRPn2edZ4eHwe97Chp/Utn+kwLSyxGW+01JD8MIMRwjGFCvl9/T
Eys3tQp7iic8ufdQ7iukzXKPA32lkqG2VvfEfa7q3nprWUW53VZcWuUfOLRMLFt5b3/spsqaksWX
XixbfOv3zqxYceZ7ty4um/p6zbJjf969+8/Hlo0/0678OdfNarmuI8Rp9MpdaoOOq7v+8eXLvndd
vc+13ZGRevGKi+xdUlq6ZC9+PfUq+FmOlU2nBFTHvArcoAC0xMMFkP8AuAQXcoX5sCfcGt4ePhZm
sj5QW619aqguLPgDzztg8A+APWP8g+O3mHqO/3lppELqbxOwbiaFrSSHTeJPMHhZQjZ7Ih9LIoxS
IlaUkrLwwwxDMFzuDyVKXHfsW1pdXtSdVyReW7Vt82vi9FxDJC9zWshOuTosfrvWIc4WB1YztCdR
4bL0O7IGr09NgxWUwR1yiQXm/Nr8YrymDrCRuot6FbBAC/riekRr/6Jqo/swrlHRKlatJJbIp9Qk
lDzPP8Qf4yn2Lw9h8M8CSsupVAxFQQ2jgCAshkW5P0I6OkVqJyKQIhRJZ2pG5GS/lTJyMCA/dcDS
az/++NrUz+A9sOyav/71mtRPUS58sCX1SOqRFnifc/Ll+LkFlAswWFNmocch1o3wIA1vo+EWGnbR
cBYNy2looKESO6H0U8yzIDalnyrdHC9paxrdfekLyjX6J7jzIN7WsbHxswQMLClPAfSE7CjwTk8D
LeDH8W2PWE5YXrJQJ6wvWZHVAjvMOqvO8rJZZzKbdTolsL/sUL5Mm2nggMBxxvGmg+L20dBBO2jP
jHOgAJ4pgAVtlec8OttrAFicFrND8ZoTD+YdHkfYsd2xz/GQA4udlMNZ59zhZBxOhzM7/pMSY9NP
suk0oJHlbj0hJWlGkQzVFPmTioQqiFhimu8RQgI4u4cJCS9BbLGSUA7AhiA5b4WzWIlm9VMkcYhZ
7N/JJPowsbB1zoIG+C1nQYWnvtSa51Opnn2994E/PfbgV3/5j6WRAokZTZU7i2ZV5GjXzgs0luv1
sC91hNp2Y+rc/w85hGNfsiaaZY/837UZNPvVp7SGNd0uy+1WqguRHgGjlFfOdz+hyn0oF5oeL8Ia
GQH7UYH38ugD/iKPhngIePIrxfK8/ygjt69JzXLpQxZ+JfdGX9aYdiW9tkbmbqyt3dgViXSR57mR
re6ShpychlK3u5Q8l7jpfRMfb5hbXDx3Q21wRonbXTIjmNNY6vGUNkrzHsDMKJ/VwYNpcZ+gh7xC
wSof10A49cwO7VOaKcd2SM2zUvpIyr1ceXwH8aWnHOGR2kbdP3mMR+rLgwexrBWjJrQGY3M39inN
ihFg9bZ6t3uRN44RqWsE8rxU8KcjhXQKl/qC4beuC/D9tEud9nZC6TZyfG+pwy/7igY/HvrQmtGX
3qpI5PB1ZWKyoKVsd0fV4ukBV1mreADejprW/aFmbn1lZm08kt1TVOuLLayIdM1dGH0Az8+DKtAK
PL8isDheRQHs27LuEQDMI2ykN7IvgiJkosGgLm73JnSU/Q+ylPU6zjsYhcNhyPZfyP+t4QKvPj/1
XIUReeohqXU/TE4xwsqMBK5Z7opTFWRBKk2njqccqYBa2mfMn58z54auhq0VsZtKl8xf1bdkyaJO
kz/srFwsznBVT2/On7GywU9/2DJosw62VPU35tg9uzOz58xsql/fGveG3brcQJ814OAzq+Z8va6I
BcwOXtOrQRpSV/QLua6InPtjJi22cK8lHM4T3hNis9v9W+hPXc3t7ZlmZ/v8ORnpnGXKRBvoJoyv
o/FMkpWci+28d9zSm1yNGZ1uh5Nq01vU5gwlT+Bxuvsgkg4pw8kwsj/ol32Fycr5/sGhjrX1GcN3
OVVFdy5PDPoxTIfDw3DPZED5rjmdhXnZOf65eakzLKmXW5+6RA9gDGzEc/LR9wKGBELaGJplGC28
F5gFMwRaQYu0lAHrfhCOxM5Kvv+v5IqPkfHyBz07ATR89MB1b2ypntt735qq2s2P9iMxdYnd8sUe
SjSIm87cftfL10VketyFEnA/RfJxYtwhmOVTYej/7yNhLqSPhPm6FvhaazZ6+yr+uz9lgofw3e3Y
jnlMRqN5u2GfARkMrPYm4GQdhtvNcaUuYTYbVXdQWKmFSbkDRgt4vfL5Y1JKWIKDE8yI0XFU5NwU
PHTHQUsBzxcLjW2Owlige0sFQQOpkcWrWWo1RYWKbX6HUXl8o8KRO006rwc1wVNS7X9J3NcqbBeQ
QCRHp0MjYDu1j0JeqohCFHpfq7wA/gcL+C+kaKo4Isr9dlJajBzeAqXDW/bsJx0SumxLDynKPYBo
e1VVuUWfo5/ZJ+vhOoyfbsP4ieQ/C59xfCCXhSr5BPDxPmj6QOW1/oE54/oDL2MlUuFHNG7o32Q/
0W25s9dMjw22hHKb10yvWdWSn5o2q2vurFlzu2bRa+bcuCAcXnDjnDk75xcWzt85Z/OWLZuv27iR
zKcTY5+DaezTFQ+nAQ73Fxqp8F9KrdQBAnZIcU6cogjgwbBHhf9OxTwkcD+JeciZXpE0HB6RXMWg
kYpCRn6iDqZ+SoAOLEutSP2MgB9YinSpZS1wEVzUklrinHxJcEkMG7fbmGEhG2zF7kMQvIWaANBz
4L/QpdHnSAaZQhYbhU5b4D4LjFmgBcb1EOihHpDjkPTJUn1SeiRLS0EMP8g18/E1j8jX/Kt8zVLp
mtdQIr5mTtyGTDYEsM8Cj+vJ5fRgHYDy5cavRy4mXcuDr/U68xq+1rXp+T0mz4+K4WtVxYMUKsfz
W1cO28phOTwhwkdEeBPWEyJsE2GRCL3Ya+abYVKfRmnSDdJzJXg7tZmaTvdIvebT44bxXnO1qZqv
hgp1QwbhH4F3JjLU1mCw4L6oQFrOsdSIsQuRsGSLSM3j65Md5+ne8vEuUavUEILSfejV8MrQHGoT
grXjHefRzoMz4h2k43x5ubO0Xeo4P/X1uF1g2sL25smOc9H/rbxpYt+t86evkDrOa+pDRhi+QjFg
Wkq9zdxGQzbIkmhYP/Yj2AHMJ5CZyUYnx+4/4TTTXACGSgH+d5Xxm8AdeLwxrkY+/IXVZufkaHC1
8eeAZ+r1x064rnb90onxLwM2fX0X/gJ051/1+qGJ8YPAh8db41oKuZlsCkFzrvwN8pXLvkOnv8OC
lzzbQHHcS6FPHPC8A7Y5YNwBvQ4oEFQNHRQCHvP4RSZYRj7DcywFANsl9dUYwU3xPNao0nVDPZZd
2vh9I8wylhg7jZQAoUkDjVCDf1CMAiw30wxJSngZpbGXpXoFba+qVQV51TEVUggqQcVStK6XkRpq
RsIxOXy4nkBsCXyXi6STNt26n0xu2/PSS3ooR5Hk3lrKDyf6a0kTHNs1qkgFfnYK7aNeGz2HLKN/
RtVfXQvvWi11h6dbbuErRIwIfbZhe32I+RmmT7ZE0+vhJfyBehi25mXZvBL5pXFSD6G0tzlp3nlO
2lusprIxVPvxCYMGgil7e+X4TSAm7y204S80aQyTo696/XNjf5t6/dETpqtdPzQxfnDsM5kXMBcQ
5oEarzx+Ci/UkP5U6R758hpSP5h6j8euXAPpZ711yvhNY9dNWcPg19ZATgb6/pTx58b49HhyAzR1
BdL4OB6/WVpDfnoN2svWAK5cA9ZX4XRvuIA1YzI+zeHQ6Rcqlvu8PmjL6NYJAtT1e51Cr40HJDMJ
hsAxcB6MkRAbaYzGV8jo0xmsfWiig590RYtyAXdESiHI9VMk5Sd3k5vTreX+gNxWTjhN9ILwIbmn
PN1gfohWSM3lsC11XGowpwJoP+ktPy71maNdfaTHPKV7OOWCWfL+MTpJ9ovTsn9bmlZeTCuVL6y6
nFZS36NE24i8d6BT1i05km554kRhjmrq3l05fhNEad1Sgr8wP6fw31z/HDiaHk9uwBTlXHV86cT4
l8E2eT5F0nwuniiOXWU+oYnxg+Dxcd1VLOmunCrV5XsNsbYtoN6nt2LfbM/zgB27+KzJmmBJ1YCN
NySAQE528+JXSvJKSV6RDggyiCKDivAbcS3kGIZSQ9hGsqkqFY0QOVMEeEEbII0zR9IhWCULngX2
GAmyYm+dnEtLWknIXwwwQAj/geSHEkaV0KqEHMYc8GepH6+E1bBuReo0jA2kXkydW47ehrGVqR/D
muWp06kzA7A69fJyueZ329gJZj1zCTgA2fFF8Wm5njw37QwuhHa1jtbTV3ZdOhfqByKeXHceXZDZ
a4c6Na10WOiCXo0y3cZnsFaQI00n+zD18hvYAnMWwrTE7pIkQ/bkAQ1R7FtY0+eUMEIQyhlsxrRo
YQ9peP3R7pa93YsXkmbMnm/XtV16rrAI1RdtaCR9mNTg/NEXwxtmkN5M5ujdS1O/fU7qf23c3rK/
H+a9KLVk5mVvvzSy660W6mmXt/2e39wK4T2XOjPc7fe+J/GM1Fsn8Vh5moerZf1jk/TPmRNum3oq
z1w5fhN4OS0jWfgLCZtbfTlPXjn+HNgy9fqjJ7xXu35oYvygxMOS/vFJOtSWrwZXsadR6R5V6TkV
p+eEVRZcquQ5NDmnKb2/AnBitOazLgTLXQ+5oOCCejXp+M3Q97HOPjWL/3Lphl8pXSKFftNd1BO1
iVLHr2gWr9rze+r45T2/lI70/KbOYT9houl33y2Sj4rXfS3rAbPAmniCaygsbQS83WMP2yl7XGtM
9BYOFSJe6hihFPZCAArtVG1Wo37ebGG2d/aZ2VS8sbazOYsrpSzT2hphrdnT5rDIzQ5SwmK8PMog
We2eZDIkBbLlM3emJCWuWqtGTxx4Jzs+0jGKfw/FZsVCumBDRfn8al/5sjvmLr6t1FGbaA6Ut5fY
9KFEeWxuqSW3JlGT66uaIxbPrwsOx9bfv2jRodVV9EcVC2ZWRcvcZl+wODuQ6OirmXdDezBdzGYv
iOdkVZZP8+dMr2/IK2uNlU2rz8+ryTWScv2vWujjK+6YG8huvkbae6lniPXhvZ8uYan6A4BoPFFP
NN6FExWiJvMyfrxy/Cb8PtGoMfyF3WLF5OirjD33O3ksubhYKX59LPP7ibEv/0geW4nH5lY1XWXs
uxNjB38LZK1bpcdaNyw2yqNlDp+Yx56J8S+Njy8n44uqxanjsV7rIXFc7D+Ug0asUr8Rd4RNs9wJ
uq4ONCeyXfM6Wjt6Ox7qoCoSQMrfF2r12PcFXe2gTqhDde42QAs0ovlZnlmImzVL76tqC+eXWBJa
VZvVpBeAVAEYkX5KvdbSyeBys5Uwcb4I/lBOgl3ZaGWxytGwyxpT5PYFOaaYjvhjdwWm21V6Lu+/
2vVoSHx0+eLDqytG+5i77iqe29IUCM5qnVt8609rMpt7r2lq3Npd8qPFrRMdWtTutdvV8NeOaCcU
L+/Rmpucm7yyvWXDxrK5lZ5g+9aORV2TzVtoabrpBe/H+pSJ9D7h/WhI49M6GZ+Gs72MdhKfSn09
Ev8kpvJmjsSbz2N0wPCX8eaV4zd1yDxUgr+wKadwcvRVxp77rTyWXJwqyvn6WInf5LGDv0nzTzHh
H5BTJY8e57cxfCm4XLr2j9OYdC4gM4e0nujswydU9GWY9ChWqnVTxm8aKwLSbKCAv3ANrbocY45h
0UBzp4w/l/phejy5AdDQV4z/GI8PSPOXxw9K4yWboNUTTErbvoZJh0jNOevHPnQFuCbeYMhJAL/X
YqczMm0ZmZkZNkoF5lXGK9+s/KCS4ishG0mouqZ57X4LbfX5XAVtvIE/xp/mUREPrbyVd8Foujhd
zpvLJST6tGYltep/lB0i8paQPr4RTc0BRgthkCHlBcGoG0qlB9IZ+ZPn7ZTJ1ewrjm1vjG16bOXA
4ZDCc133GGh6N2duuKH2+srfN52rH2rNfyGzYe2s2WsafL7GNc2H96Dqb/7Poda67c9v3nzyhtrK
KnrTmfZ7N+zKiDq2ehP5t66/tvb+H75/vHxVR6Rw/q65zdu6i19N7xltkPRVu6yvvpB3wId3AGUW
qa2X8w+mJdmvDpmP/1viY6/Ex78+ke29AodeOX5Tm8yb+fgLLd7syzDolWPPfTXl2l+eyLnqtaV5
y+Nf/t0UmRo9kRu96vh3J8YP4nXahymUS1j/5NgXJ7wlV2BcCgyAz7H+e1KqfQqBvri5qABmPm6z
6R7vogYolEOVU4iSChZzlNoEoINPYeiAWcTlgsqngJH0A/UZjxvPGN80cpzRCJ6Cz6bzKSOkmoKk
VMSQKJ1/SGJl0mmH/+b8ywHq/tHTBk+uzZrnNRi8eVZbrsdw5e9oz8GDqY/9YbdW6w77fWGPTucJ
o/eueENe48axE3SY3o+xbxYowNi3MujJwdg3kLDaLGZOoVIqtGBeOB5+M/xBmOLDkHUmtF2FOe6g
hw5ltnEqm5lmLAYh1KYgYvHKSOyVKeC353LsK61Brq2ZkAZSesOMI1+WKZGBbxkdJjKwbcn0XW2x
BtLUEVtfjF/XzBgFRgu8wzWrAHP89GBqgydRMN7jUbqmaVdCbvNwZayeuXPmWzd37hLRHr3hjbce
Wjq6VS+8LfOCVFMu8dp8mY+/I2k1p6TV7jvhc2rsl/HOleM39ckyEsRfmOf0TY6+ythzCnksuTjw
O78+VuJJeewgIjyJYBZRZifHvjrhDMvjp2BcqbZWuv4ieS46+fphfP3l/lwwaUnSvS2sCTtU5PwY
TzihmicKIgx6PWZnY0ZnxAWczvw2M2/xtQFGuKwjNjLR3QIvP/d4SqOLngtc3t4C+6c2tPRM6XUZ
VkDP1LYRanhqS8uUZhcFSJUd0F/R4TKxbolW8roHn05rfqJMoNofBVNs13j/F930tf4v/mr9X3gc
yTUh+l3qMOsDJhCI63kdTYMzClq3A/CKXgVSkOJLx88jMOz4+fjhHH7pTB3OX0pyUKSz/fAWcXVJ
2aC4xTG9vlI4I1TWz7DT72YujkYXZzqlfJTc5o7gGnyvYnaPlAuIxwtMu0hEpBX0Aho4dhWRUtDb
SUVgjG/le7EFGuM5lnfdzjO9DGLwTEZ+SU5BI8/Jq2QHOCkvIBcrUsX+6s7iSEel11vZESnqrPFf
GyuOxCrKi2PMM2J7uctV3iqKrfg52lpSWlVVih9pWrzF/B57RuVxP28NW5EVKL1KxCktzD5dXDAm
dHFOjfGicZ+SJ157OBkheZHQiEhqeX4unUcowz2/zEEk4CzqKJTKaW1u8BYU6VYwvtKmwrz25hmu
gkJ+JfmNfs8fwtSsWjIj4M/zl9RULZ6RPfH/HVBHpf/vwPU8QOQ0GVaTQJgW4Hn4I6nWgdQ4pv/f
A2rRxP97gL/H/cff4ya/Z6XOwjbpvJdA3NqrI2dA9XJD3GnuDY7hNIeg5n6WArELMDxCjmfH3w+m
//+R/9fY1YQ2EQXhfe812c0mvg32bdu4/TG0wdKAsa1BD4VdFNrgqV5yCyuaQy+ygniotPbSSw+S
nkrBSj2I9FYF8QeERLQnkcSDNyXNoSctKeJJ2tSdt5t0t6TobU8z883Mvl345n2ToPTc+YuxJaXv
TJdE3nc1RXzn0u3t2sYUZCILFVEZBVBwTXDs5mopTl63FkJcoVwteImCWnDgVdel2fn7lycWF+fS
/t0T6bcCBV5J7sk0TS9w04hrF7+OqhnR9rLBvcAOoFwt+b+LJzDEj7/w+GPCTSNT1NAyaGSZmqWR
ToWZzGILrMjKrMpExmKrNLIqoGnkaOWUUAWJyJ/LWGStE1LJh8ByPBxgK0DzHuA30xpvPqBn3gQf
vDkx3d7M/yNugU2zG+wOe85KrOLErVCTWrRIyzRAj9IINapyCGJncO0UVxqCuJ2wc564m+mMt68f
zpxYTW9huVY1/sPrGhMeGNcr2ra2p5Gn2kvto0ZsCPisdkEz3LGZYAsJ4AgCjmW6TfcoATiYevuh
ioJuRxhytCfj4Nlw8SRdQC4i07+bJN6+V/yYvJ3jayIkrKAdfJv8ss++SWMopZqqpS6oZbWuHqpi
VEWmbMnr8qZcletyUK6448ARoKAHFKREAwhOwK0cMNFbPLLjVPTKkJ4dG80aiYSRHR3L6kP451Re
7+3V81OTeb2/X8+7dzruon3Of0684Dc1jIEQ3MnQpXVpU6pKdelQCrbmvYj9Cgmp1JFctDPf1Zrq
ao1zeYe4jvnRjWHhR5XUySHhmgeY+Hx1wDWRdq7Gc1CLFp2K9huf7u3uHmNPwVfjif2SznDtmT7f
zhV0GppVByGho5UrM/tfH5OkKzyDhQi+hguBd4JsfyMnjZEQroVFQrrN7oJ9+gMzrtYCqGMnpIQH
wqkwkcJhrOyI3/B3V8XU1WioJUGRdtwZMx9UB9PungpQH4A9J7gwX2gsodmH843fhNg/fz2hR0Qu
lSx89eDzh5Fbo+HEyLACu4f+AnxAjaQAeNqdVMtuGzcUvSNLdqI8FobbRVEUXAaBPZKcAinSbgzb
CAIYXsRFgQLd0DPUiI5mKJAcGMqq+267Kop2nQ8ouu02WQRZ9gvyBfmAHF5dJVLjNkA14Ojw8vI+
ziGHiL7IGspo8fuSLgRn1Kc/BHdoi14J3qBPsq7gLvWzoeAefZpZwZt0PftZ8Baddr4RfI12OsuY
fao2fhF8gz7vLn1uUt79U/AtyntHgm/T3d5zwdvU3+yjkqx7HbMJV5VwRjv0u+AOdvwleIPu0t+C
u7STfSa4R7vZ14I3aTv7UfAW/Zr9Jvga3en8JLhPLzsvBN+gr7odwTfph+73gm8BvxZ8m77tBcHb
tNN7Q0dkqcKIGE/JUEkKQ2OugQpyNKM5efaawKroGcY+DfHcp13gh/BxWJ1it6JDYI896a05qqOG
cqIjW9lon5pSlTpqVbjZ3NtqEtUztT8c3t9VD52rpkYdOj9zXkfrmrQLYRyCpLLOELChAKN3tlRn
ugF+jKwVtciu4UqPTdVONcABHAusNdhqsKJoD+PKcAehME1pvNpTq5E/mvo7DhykRUUjtJloUXSO
gixKKtk6ontwNj6gJTXKh0N13tppqUaje6tZ1nN8WIPFmmJVInOb+qq56yewORp/oIXm7hV7zbms
ZPXMWIoWuQEj0RvWO1mS9ov5BRrx7FviXbzTM7CizIUNSqvodWlq7Z8oN14KqZtS1Xquzo3yprIh
Gg/xbaMK46PG/0XrbShtkaQO+VWSXX2Y3gu2clau1muVtQl6qdm+6F3hvfQKnNAyhxFczTAfY7Vg
xlI5gW9AI2yNuSSFiEFKTXwt+FzuCysKGFakYOUcV1DI7arxtGJZvy/vTtqC4klb6wYsqpBMwXg7
VnE+M2NdGFWaYKsG9I6dVy0WwTP4TmuBhTBTU0TvGlvg5tV1C7C8YulWR3T8gAZ4LvnJUcu6GIVI
kUvVA2yMcfZgMLi8vMy1KFJAkBwJBv8/7JL+ddI9H7kUswaV/5k6kSJ8+JBPYg3/E+bXsNoLBduV
YxYROOl8gMRJu8VsfU/60v3zwu/zhacTiwoCyG/5UMaJUQczXeBPVnbV8vbv58N/Z+Z98pxZqbA6
XSsiwHJCj3AvjukUh/wYHzUpYpURTp47Xw2miwLC4OTR4fHp2fEeF/CxL9tbrdqFPHjabdDXbwwA
AMDh766lSu29915nb1Vq771n3XFGr+5c7RWbECLhiVgvxEjsiPGA2Cs1H3i2Y7/SePYlv3/gJ+if
PxER/1NQWEBQilRFFJWmmHTFlZChpFJKK6OscsqroKJKKquiqmqqq6GmWmqro6566mugoUYaa6Kp
ZpproaVWWgtpo6122uugo04666KrbrrroadMvWTprY9sffXT3wADDTLYEEMNM9wII40y2hhjjTPe
BBNNMtkUU00z3QwznXDEBhtdtdc7m+y03X7HHA0EbQukWG+P737YYZ8tbnjrmwOO++Wn3w476a7b
Tpklxy6z3Rd2xz2PPfDQI+8L7xV44qnT5vhqtxeeeW6ujz7bap6o+RZaINdBMYvkiUtIWizfEh8s
tdwyK6yy0iWHrLHaWut88sVlL73yxmtnnHXBRTedc94tm11z3ZVAaloyNxoKZWWnx/LD8UROLB7O
iMSS8UQyLxyPxuJ/AUA8aEsAAAAAAgAFAAL//wADAAAAAQAAAADH/rDfAAAAAMGaMwAAAAAAyBdP
9njaY2BkYGDgA2IJBhBgYgDxLwFJFjCPAQANQwEEAAAAeNrVmFtolEcUgM9uLurmsrs2LbSl0oaY
xmBsUas1JiI05LJCiWtijKYSCwaxpbZSSqGFQu62NGqJGqYXIcaYO4VciRoJP9ioKfSl7kNefNA+
lKGPeez2+2cvSYy7RrHQMnyZ/5+Zf845c86cmY04RMQl62SjOD488ulHsloSaZFgUOwexwdHT9pt
Enqjz8mbw8b7lxlZJ3flrqPV0ea4D386y53HnSMJ6QnHEroT7if6ErsS/0janVSc/HGyWtW+um2N
J+GYo9WVScmBfFet6zPXl+a9zdVB223XPcp8Sk7KLkdrSm3K35Ta1Pa0XOfxtJn0tWkzaTPMbUp6
RfrJSEn0pd8LFfcmM1uktLlyPJ+HS73nTKS42jzd4fKzNxfd73tLvaWsQlZwiL8bZLv4ZQfkY+FO
3gt4LqQuDlpSAqXgCwbET10BVfRVw0HJkBrqeuZpgEZogmZogdZgjbTRfxrOwFm4yNw9zNELfdAP
AzAIIzAKYzAOEzAJN/huGhySJ1/I85JNWy5shq2wPajkbfTbQZ2P3ALqU7S3wzk4DxegAxR8z9gf
4Ef4CS4y3mFmeVGS+N4F2UGNDI0MjQxNbxMyNDIsZATCMjQyNDI0MjQyNDI0MjQyNDI0MjQytJFx
i3lnIVk2mhnt2bTshAIzQstaScJOF6RCNnJyYTNshd201cIpntvhHJyHC9ABCm7RPwsviBtNvZDF
vCF5lpGXH5UZkELqemiARmiCZmiBVsa3UZ+GM3DW6Bhg5iSiwwW2jm7s8kImz1m2D4iJfCiAiL71
tDdAIzRBM7SALeEi424x1yy4o9Y/vPrxVjpi8eKvl67bStbL9rzC8yqO54dYO+spPa/wvIrplUDY
K4EVeCXwSK94mHkLM28xuzp7UVwV0ht7h35ibLFj71no9uiIcZhY9+EfP/7xm5jxLImbpmV7epst
n9gooq8YSqAUfHxTjuZ7wc/7PuoK6krq/dQHqKv5/iAcghp4D+rpa4BGaIJmaIHQCsTOFZ2MuQRd
cBm64Qr0QC/0QT8MwCAMI3+EehTGYBwmYBKu0ncNrsMU3GD+abjJ8y92lLA2s2aN3KyaF7IeEwm7
lqzpwnpay/ZAEW1L87nFOgZYx1Be30dt5/ZK6v1wwESNhWQLyRaSLSRbSLaQ3BR3T3Uy5hJ0wWXo
hisQK+8P802s3H+VvmtwHabMfg2tkW15HZbXYfkQlg+Z7PPw3i2irRhKoBR8tJXDXvDzvo+6grqS
OmS1Jlp0nIw1FHfvdzLmEnTBZeiGK9ADvdAH/TAAgzDMNyPUozAG4zABk3CVvmtwHaZMnqvD8jp5
NWaeK2ZUCZQa62zLdFw/9dDfC33QDwMwaDTSaKTRSKORRiONRguZtihG1KllGm0zPlBoptBMoZkK
72ALH1hoqfCBfatQ+MDCB0P4wN65AXauDu9chS8UvlD4QuELhS9UeOfGi0KFLxS+UPhC4QuFLxRW
K6xWWK2wWmG1wmqFL+wbiMJyheUKyxWWKyxX+MLCFxa+sPAFNxJ0mzYrEopGBydHgDti5GSMnGhr
olFaTS4L3ZcyuM9kcJ/JiHo0KepRn2kNrbI9p2XmDPVF2p1mdewoTY3OXmTnVxN/Gps1Nmts1tis
sVkvkRTyXJWRFNJ+obVsUWtqVLI/HMGxIjWiWVLU/rJFp/pqE4s9ceLq9eitK43M4ia+1kGmyWKh
/Zwnh+PexAq5t5bRVgXVtB2krjEZLPDEZ/UNvpm2rQrf1tY/Vrun0exZavXVIq0CT7RmVcEHaPU7
Wj1Aq7mn0GoOreaiWtmeJCLhv6DVDHrYmt2htrVbuF17whpFNGkM3zG/Dt9eHnfX9MScyZ7lmxXM
sCru2f6ypDLvw/exvOB86F4U4162m7rWRP2T3R2fW3LfeNPcGbXJKfFmipVr/CabrEFHl8kihZIW
/p3giXFa5AWnkGotOTW2E0s7GJdvfkcULjtFyoiNlZwkkT23+ESpZb7/w6niZDd1mJMlIfo0C+TZ
4AneTrAKc9HTwB49ResUey6Sh928eSEzOMLqzbN686zevMnPPmo/VEAVv0l7qHuhD/phAAZhBEZh
DMZhAibBzu+3g9+aHP8r9W/4etUyyYtPgg3P5D8O//Z/G5z2b0GK/b+iFE5ht3hZ/yziMZkZ7V2/
kZIim+QNLN4sb0k69uwiuxRJsbwkpbJHXpF3Ka9JOfIzpRL916P/YcmRemnhy1PynWyVdungO4WW
70inDLJWwzLB6EluCIe4IUzLEbkpM/K+3KEc/QcVjo6wAAAAAQAAAAoAHAAeAAFsYXRuAAgABAAA
AAD//wAAAAAAAA==) format('woff'), url('#{$font_dir}/DroidSans.ttf')  format('truetype'), url('#{$font_dir}/DroidSans.svg#DroidSans') format('svg');
  font-weight: normal;
  font-style: normal;
}