/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.04.2017, 8:39:04
    Author     : dstaroselskiy
*/

@media (min-width: 1199px) and (min-width: 992px)
{
    #home-block-19 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    
}

@media (max-width: 1199px)
{
    .cost-conteiner .wpb_text_column ul {
        padding-left: 0%;
    }
    #home-block-19,    
    #home-block-20 {    
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 991px)
{
    .have-right-sidebar .content-area {
        float: initial;
        width: 100%;
        margin-left: 0px;
    }
    .have-right-sidebar .sidebar-right-container {
        margin: {
            left: auto;
            right: auto;
        }
        width: 100%;
        max-width: 360px;
        padding-left: 10px;
        padding-right: 10px;
        float: initial;
    }
    .container-contact {
        padding-top: 25px !important;
        padding-bottom: 28px;
        .contact-string {
            padding-top: 25px;
            padding-bottom: 28px;
        }
    }
    #page-container #home-block-02 {
        padding:{
            top: 70px !important;
            bottom: 24px !important;
        }
        > .wpb_column
        {
            > .vc_column-inner 
            {
                > .wpb_wrapper > .vc_row > .wpb_column
                {
                    margin-bottom: 80px;
                    min-height: 220px;
                }
            }
        }       
    }
    .home-block-03 {
        padding-bottom: 0px;
    }
    .home-block-06 {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    #home-block-13.home-block-14 
    {
        background-image: none !important;
    }
    .home-block-14 {
        padding-top: 12%;
        padding-bottom: 12%;        
        > .wpb_column
        {
            > .vc_column-inner 
            {
                > .wpb_wrapper > .vc_row > .wpb_column
                {
                    margin-bottom: 40px;
                }
            }
        }     
    }
    .dms-info-list .smile_icon_list li.icon_list_item {
        width: 50%;
        padding-left: 10% !important;
    }
    .cost-conteiner {
        >.wpb_column:nth-last-of-type(2n+3) {
            border-bottom: 2px solid #e3e8e7;
        }
        >.wpb_column:nth-last-of-type(2n+4) {
            border-bottom: 2px solid #ffffff; 
        }
        .wpb_text_column ul {
            padding-left: 26%;
        }
    }
    
}

@media (min-width: 768px)
{
        .home-block-01 {
        > .wpb_column
        {
            > .vc_column-inner 
            {
                > .wpb_wrapper 
                {
                    min-height: 220px;
                    >.vc_row
                    {
                        >.animated {
                            /*animation-duration: 0.5s;*/
                        }
                        >.animated:nth-last-of-type(4n)  {                        
                            animation-delay: 0s;
                        }
                        >.animated:nth-last-of-type(4n+1)  {
                            animation-delay: 1.4s;
                        }
                        >.animated:nth-last-of-type(4n+2)  {
                            animation-delay: .7s;
                        }
                        >.animated:nth-last-of-type(4n+3)  {
                            animation-delay: 0s;
                        }
                    }
                }
            }
        }
    }

}
@media (max-width: 767px)
{
    .categories-mobile {
        margin: 0px;
        padding: {
            left: 15px;
            right: 15px;        
        }
        .cat-info,
        .sidebar-right-container > li {
            margin-bottom: 0px;
        }
        .cat-info,
        .sidebar-right-container {
            padding-left: 0px;
            margin-right: 0px;
            margin-left: 0px;
        }
        .cat-info {
            padding-top: 26px;
        }
    }
    #page-container {
        .page-header-pages {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        .home-block-06 {
            padding-top: 40px;
            padding-bottom: 60px;
        }
    }
    .smile_icon_list.top li.icon_list_item {
        max-width: 400px;
    }
    .home-block-04>.wpb_column {
        margin-bottom: 60px;        
    }
    .home-block-07 .uavc-list-icon-wrapper .uavc-list li {
        /*padding-left: 6% !important;*/
        width: 100% !important;
        clear: both !important;
        .uavc-list-content {
            max-width: 360px;
            margin-left: auto;
            margin-right: auto;
            width:100%;
        }
    }
    .cost-conteiner .wpb_text_column ul {
        padding-left: 16%;
    }
    .home-block-13 > .wpb_column > .vc_column-inner {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .dms-info-list-air .smile_icon_list {
        .icon_list_item {
            .icon_list_icon {
                height: auto;
                text-align: center;
                .list-img-icon {
                    position: initial;
                    -moz-transform: -moz-translateY(0%);
                    -ms-transform: -ms-translateY(0%);
                    -o-transform: -o-translateY(0%);
                    -webkit-transform: -webkit-translateY(0%);
                    transform: translateY(0%);
                }
            }
        }
        .icon_list_item:nth-of-type(n) {
            padding: {
                left: 0px !important;
                right: 0px !important;
                bottom:80px !important;
            }
            margin: {
                left: auto !important;
                right: auto !important;
            }
            max-width: 200px;
            float: initial;
            display: block;
        }  
    }
    #page-container .home-block-06 {
        /*padding-bottom: 30px;*/
    }
    #top-menu-container {
        float: initial;
        clear: both;
        padding: {
            left:0px;
            right:0px;
            top: 10px;
        }
        #menu-main {
/*            width: 100%;    
            text-align: center;*/
            margin: 0px auto;
            float: initial !important;
        }
    }
    .home-block-01 {
        > .wpb_column
        {
            > .vc_column-inner 
            {
                > .wpb_wrapper 
                {
                    min-height: 220px;
                    >.vc_row
                    {
                        >.animated {
                            /*animation-duration: 0.5s;*/
                        }
                        >.animated:nth-last-of-type(4n)  {                        
                            animation-delay: 0.005s;
                        }
                        >.animated:nth-last-of-type(4n+1)  {
                            animation-delay: 0.017s;
                        }
                        >.animated:nth-last-of-type(4n+2)  {
                            animation-delay: 0.017s;
                        }
                        >.animated:nth-last-of-type(4n+3)  {
                            animation-delay: 0.017s;
                        }
                    }
                }
            }
        }
    }
    .blog-top-section .page-title {
        font-size: 40px;        
    }
}
@media (max-width: 620px)
{
    .radio-payment {
        display: block;
    }
}
@media (max-width: 600px)
{
    .cost-conteiner .wpb_text_column ul {
        padding-left: 0px;
    }
    .ult_modal-body {
        padding: 5px 10px;
    }
    .dms-form-cont.mobile-center {
        text-align: center;
    }
    .single-share .table .tr .td:nth-of-type(1) {
        display: none;
    }
}
@media (max-width: 500px)
{
    #top-menu-container {
        .nav-menu {
            text-align:center;
            .menu-item
            {
                padding-bottom:10px;
            }
            .menu-item.sm-inline{
                display: block;
                text-align: center;
            }
        }
    }
    .blog-list {
        .article-img {
            float: initial;
             margin: 0px auto 10px;
        }
        .article-content {
            float: initial;
            width: 100%;
        }
    }
}
@media (max-width: 479px)
{
    .dms-info-list .smile_icon_list li.icon_list_item {
        width: 100%;
    }
    .vc_row.home-block-09
    {
        > .wpb_column
        {
            > .vc_column-inner 
            {
                > .wpb_wrapper > .vc_row > .wpb_column
                {
                    width: 100%;
                }
            }
        }  
    }
    .cost-conteiner .wpb_text_column ul {
        padding-left: 26%;
    }
}
/***********************************************************
Анимация
***********************************************************/
#page-container {
    .home-block-04 {        
       >.animated {
            /*animation-duration: .1s;*/            
       }
       >.animated:nth-last-of-type(6n)  {
            animation-delay: 0.25s;
       }
        >.animated:nth-last-of-type(6n+1)  {
            animation-delay: 1.5s;
        }
        >.animated:nth-last-of-type(6n+2)  {
            animation-delay: 1.25s;
        }
        >.animated:nth-last-of-type(6n+3)  {
            animation-delay: 1s;
        }
        >.animated:nth-last-of-type(6n+4)  {
            animation-delay: .75s;
        }
        >.animated:nth-last-of-type(6n+5)  {
            animation-delay: 0.5s;
        }        
    }
    .clock-img.animated {
        animation-iteration-count: 3;
        -moz-animation-iteration-count: 3;
        -webkit-animation-iteration-count: 3;
        -o-animation-iteration-count: 3;
        animation-duration: 2s;        
    }
}


