/* 
    Created on : 04.03.2017, 13:48:37
    Author     : dstaroselskiy
*/
body main 
{
    .vc_col-has-fill>.vc_column-inner, 
    .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner,
    .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner,
    .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner,
    .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner,
    .vc_row-has-fill>.vc_column_container>.vc_column-inner,
    .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner,
    .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner,
    .vc_section.vc_section-has-fill,
    .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section,
    .vc_section.vc_section-has-fill+.vc_section
    {
        padding-top: 0px;
    }
    .vc_custom_heading,
    .info-wrapper.ult-adjust-bottom-margin, 
    .smile_icon_list_wrap.ult-adjust-bottom-margin, 
    .uavc-list-icon-wrapper.ult-adjust-bottom-margin, 
    .ubtn-ctn-center, 
    .ubtn-ctn-left, 
    .ubtn-ctn-right, 
    .ubtn-img-container, 
    .ult-banner-block.ult-adjust-bottom-margin, 
    .ult-modal-input-wrapper.ult-adjust-bottom-margin, 
    .ult_dual_button.ult-adjust-bottom-margin, 
    .ultb3-box.ult-adjust-bottom-margin, 
    .ultimate-call-to-action.ult-adjust-bottom-margin, 
    .ultimate-google-trends.ult-adjust-bottom-margin, 
    .ultimate-map-wrapper.ult-adjust-bottom-margin, 
    .uvc-type-wrap.ult-adjust-bottom-margin, 
    html .ult-ih-container.ult-adjust-bottom-margin, 
    html .ult_exp_section_layer.ult-adjust-bottom-margin, 
    html .ult_hotspot_container.ult-adjust-bottom-margin, 
    html .ult_main_cl.ult-adjust-bottom-margin 
    {
        margin-bottom: 0px;
    }
    .wpb_button,
    .wpb_content_element,
    ul.wpb_thumbnails-fluid>li
    {
        margin-bottom: 0px;
    }
}
.page-header {
    .vc_column-inner {
        padding: {
            top: 118px !important; /*12% !important;*/
            bottom: 114px !important; /*11%;*/
        }
    }
    .wpb_single_image {
        margin: {
            bottom: 30px !important;
        }
    }
    .page-title {
        
    }
}
#page-container {
    #about-us-block-02 {
        padding: {
            top: 72px !important; /*2% !important;*/
            bottom: 59px !important; /*2% !important;*/
        }
        font: {
            family: "HelveticaNeueCyrRoman";
            size: 17px;
        }
        line-height: 24px;
    }
    #about-us-block-03 {
        padding: {
            top: 66px !important; /*2% !important;*/
            bottom: 32px !important; /*2% !important;*/
        }
        font: {
            family: "HelveticaNeueCyrRoman";
            size: 17px;
        }
        line-height: 24px;
    }
    #about-us-block-04 {
        padding: {
            top: 40px !important; /*2% !important;*/
            /*bottom: 59px !important; 2% !important;*/
        }
    }
    #about-us-block-05 {
        padding: {
            top: 88px !important;
        }
        .image-home-01 {
            padding: {
                bottom: 38px;
            }
        }
    }
    #about-us-block-06 {
        padding: {
            top: 42px !important;
            /*bottom: 38px;*/
        }
        .vc_column-inner {
            padding: {
                top: 40px !important;
            }
        }
    }
    .about-us-icons {
        .wpb_content_element.wpb_single_image {
            margin-bottom: 8px;
        }
        .vc_custom_heading {
            margin-bottom: 40px;
        }
    }
    #about-us-block-07 {
        
    }
    .page-header-pages {
        padding: {
            top: 218px;
            bottom: 192px;
        }
    }
    .home-block-01 {
        padding: {
            top: 108px;
            bottom: 104px;
        }
        .vc_custom_heading {
            font: {
                size: 35px;
                family: "HelveticaNeueCyrRoman";
            }
            color: #1b1b1b;
            line-height: 1.2;
            margin-bottom: 10px;
            i {
                display: inline-block;
                background-color: #ee3c24;
                transition: background-color 1s;
                color: #fff;
                font-style: normal;
                padding: {
                    left: 4px;
                    right: 5px;
                }
            }
        }
        .wpb_single_image {
            margin-bottom: 10px;
        }
        .margin-right-m10 {
            .vc_single_image-wrapper {
                margin-left: 25px;
            }
        }
        .margin-left-m10 {
            .vc_single_image-wrapper {
                margin-right: 27px;
            }
        }
        .wpb_text_column {
            color: #5d5d5d;
            font-size: 17px;
            max-width: 200px;
            line-height: 20px;
            margin: 0 auto;
            margin-top: 4px;
            font-family: 'HelveticaNeueCyrRoman';
        }
    }
    .home-block-10,
    .home-block-02 {
        padding: {
            top: 110px;
            bottom: 102px;
        }
        .wpb_single_image {
            margin-bottom: 0px;
            padding-bottom: 20px;
        }
        .vc_custom_heading {
            color: #000000;
            font-size: 45px;
            font-family: 'HelveticaNeueCyrRoman';
            line-height: 1;
            margin-bottom: 0px;
            i {
                background-color: #3bb9a8;
                line-height: 40px;
                display: inline-block;
                color: #fff;
                font-style: normal;
                padding: {
                    left: 2px;
                    right: 2px;
                    top: 2px;
                }
            }
        }
        .wpb_text_column {
            color: #3f3f3f;
            font: {
                size: 18px;
                family: 'HelveticaNeueCyrRoman';
            }
            line-height: 34px;
        }
    }
    .home-block-03 {
        padding: {
            top: 100px;
            bottom: 76px;
        }        
        h2.vc_custom_heading {
            color: #000000;
            font-size: 40px;
            font-family: 'HelveticaNeueCyrRoman';
            line-height: 1.2;
            margin-bottom: 20px;
        }
    }
    .home-block-04 {
        padding: {
            top: 0%;
            bottom: 0%;
        }
        font-family: 'HelveticaNeueCyrRoman';
        h3.vc_custom_heading {
            color: #000000;
            font-size: 30px;            
            line-height: 1.2;
        }
        .wpb_text_column {
            color: #5d5d5d;
            font-size: 17px;
            line-height: 19px;
            max-width: 228px;
            margin: 0 auto;
        }
        .wpb_column {
            min-height: 252px;
            .wpb_single_image {
                margin-bottom: 10px;
            }
            .vc_single_image-wrapper {
                padding: 20px !important;
                border-width: 3px !important;
                .vc_single_image-img {
                    border-radius: 0px;
                    border: 0px;
                }
            }
        }
    }
    .home-block-05 {
         padding: {
            top: 110px;
            bottom: 68px;
        }
        color: #ffffff;
        background: #3bb9a8;
        h3.vc_custom_heading {            
            /*font-size: 30px;*/
            font-size: 45px;
            font-family: 'HelveticaNeueCyrRoman';
            line-height: 1.2;
            margin-top: 24px;
            margin-bottom: 10px;
        }
        .wpb_text_column {
/*            color: #5d5d5d;*/
            font-size: 18px;
            line-height: 19px;
            margin: 0 auto;
            margin-bottom: 44px;
        }
        .wpb_column {
            /*min-height: 292px;*/
            .wpb_single_image {
                margin-bottom: 10px;
            }
            .vc_single_image-wrapper {
                /*padding: 20px !important;*/
                border-width: 3px !important;
                .vc_single_image-img {
                    border-radius: 0px;
                    border: 0px;
                }
            }
        }
    }
    .home-block-06 {
        padding: {
            top: 110px;
            bottom: 110px;
        }
        .vc_custom_heading {
            font: {
                family: 'HelveticaNeueCyr';
                size: 17px;
                weight: bold;
            }
        }
        .vc_custom_heading.block-title {
            font: {
                size: 40px;
                family: 'HelveticaNeueCyrRoman';
            }
        }
        .wpb_text_column  {
            font: {
                family: 'HelveticaNeueCyrRoman';
                size: 15px;
            }
            line-height: 17px;
        }
    }
    .home-block-07 {
        padding: {
            top: 100px;
            bottom: 104px;
        }
        .vc_custom_heading {
            font-size: 45px !important; 
            font-family: 'HelveticaNeueCyrRoman' !important;
            line-height: 1.2 !important;
            margin-bottom: 0px;
        }
        .uavc-list-icon-wrapper {
            .uavc-list { 
                li {  
                    padding: {
                        top: 6% !important;
                    }
                    width: 50%;
                    clear: none!important;
                    float: left;
                    display:block;
                    line-height: 1!important;
                    font: { 
                        family: 'HelveticaNeueCyrRoman';
                        size: 17px;
                    }
                    strong {
                        font: {
                            size: 26px;
                        }
                    }
                    .uavc-list-content{
                        line-height: 1.4;
                         position: relative;
                        .img-icon {
                            position: absolute;
                            top: 50%;
                            -moz-transform: translateY(-50%);
                            -o-transform: translateY(-50%);
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                        }
                    }
                } 
                li:nth-of-type(2n+1) {
                    clear: both!important; 
                }
            }
        }
    }
    .background-3bb9a8 
    {
        background: #3bb9a8;
        .vc_custom_heading {
            color: #fff;
            font-size: 40px;
            font-family: 'HelveticaNeueCyrRoman';
            line-height: 1.2;
            i {
                background: #238d7f;
                padding: 2px 4px;
                font-style: normal;
            }
            i + i {
                background: #ee3c24;
            }
        }
    }
    .color-ffffff {
        color: #ffffff;
    }
    .padding-20px {
        padding: 20px;
    } 
    .background-e3e8e7{
        background: #e3e8e7;
        color: #515151;
    }
}
.block-color-green {
    background: #238d7f;
    padding: 2px 4px;
}
.block-color-red {
    background: #ee3c24;
    padding: 2px 4px; 
}
.container-contact {
    padding: {
        top: 0px !important; 
        /*bottom: 9%;*/ 
    }
    .contact-string {
        font: {
            size: 18px;
            family: "DroidSans";
        }
        padding: {
            top: 50px; /*2%;*/
            bottom: 56px; /*2%;*/
        }
        img {
            vertical-align: middel;
            margin-right: 6px;
        }
        .icons-description {
            color: #3f3f3f;
        }
        big {
            font-size: 25px;
        }
        a {
            color: #000;
            text-decoration: none;
        }
    }
    .contact-string.contact-string-center {
        p {
            padding-top: 8px;
        }
    }
}
.ult_modal-body {
    .wpcf7-form {
        padding-top: 4%;
        padding-bottom: 3%;
        .wpcf7-form-control.dms-cf 
        {
            border: 1px solid #8b8b8b;
        }
        textarea {
            height: 64px;
            width: 100%;
        }
    }
}
.ult_modal-header {
    text-align: center;
    border: 0px !important;
    > * {
        display: block !important;
        font: {
            family: "HelveticaNeueCyrRoman";
            size: 28px !important;        
        }
        padding-bottom: 0px !important;
    }
}

.wpcf7-form {
    input:focus,
    input:active {
        outline: none;
    }
    div.dms-form-cont {
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
        display: block;
        padding-bottom: 20px;
    }
    select,
    input:not([type="submit"]) {
        width: 100%;
        max-width: 420px;
    }
    input[type="submit"] {
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background: #c83420;
    }
    .dms-form-cont,
    .dms-cf {
        font: {
            size: 16px;
            family: "HelveticaNeueCyrRoman", "DroidSans" !important;
        }
    }
    .dms-cf {
        background: url("../images/sprint-forms.png") 20px 13px no-repeat, #fff;
        border-radius: 23px;
        padding: {
            top: 13px;
            left: 60px;
            right: 24px;
            bottom: 13px;
        }
        line-height: 1.2;
        border: 0px;
    }
    .promo-code,
    .date-appropriate,
    .menu-country,
    .your-training,
    .your-comments{
        position: relative;
        display: block;
        .dms-cf {
            background: #fff;
        }
    }
    .date-appropriate:after,
    .promo-code:after,
    .your-comments:after,
    .your-training:after,
    .menu-country:after
    {
        z-index: 10;
        content: "\f041";
        color: #8b8b8b;
        display: block;
        position: absolute;
        top: 50%;
        font-family: FontAwesome;
        font-size: 30px;
        -o-transform: -o-translateY(-50%);
        -webkit-transform: -webkit-translateY(-50%);
        -ms-transform: -ms-translateY(-50%);
        -moz-transform: -moz-translateY(-50%);
        transform: translateY(-50%);
        left: 18px;
    }
    .menu-country:after {
        left: 24px;
    }    
    .promo-code:after{
        content: "\f006";
    }
    .your-training:after{
        content: "\f19d";
    }
    .date-appropriate:after{
        content: "\f274";
    }
    .your-comments:after{
        content: "\f27b";
        top: 8px;
        -o-transform: -o-translateY(0);
        -webkit-transform: -webkit-translateY(0);
        -ms-transform: -ms-translateY(0);
        -moz-transform: -moz-translateY(0);
        transform: translateY(0);
    }
    .radio-payment {
        font: {
            family: "HelveticaNeueCyrRoman";
            size: 18px;        
        }
        input {
            width: inherit;
        }
        .wpcf7-list-item{
            label:before {
                content: "\f1f4";
                color: #8b8b8b;
                display: inline-block;
                margin-right: 8px;
                font-family: FontAwesome;
                font-size: 24px;
            }
        }
        .wpcf7-list-item.last{
            label:before {
                content: "\f283";
            }
        }

    }
    .vc_column_container {
        margin-bottom: 9px !important;
    }
    .wpcf7-form-control.dms-cf.phone,
    .wpcf7-form-control.dms-cf.email {
        background-position-y: -140px;
    }
    .wpcf7-form-control.dms-cf.name {
        background-position-y: -90px; 
    }
    .wpcf7-form-control.dms-cf.subject {
        background-position-y: 13px; 
    }
    .wpcf7-form-control.dms-cf.message {
        background-position-y: -40px;
    }
    .dms-textright {
        text-align: right;
    } 
    .wpcf7-submit {
        background: #ee3c24;
        border: 0px;
        font: {
            size: 18px;
            family: "DroidSans";
        }
        border-radius: 23px;
        padding: {
            top: 13px;
            left: 30px;
            right: 30px;
            bottom: 13px;
        }
        line-height: 1.2;
        color: #fff;
    }
    .vc_row.aligncenter {
        padding: {
            top: 34px;
        }
    }
}
div.wpcf7  .wpcf7-form .ajax-loader {
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.container-for-contact-form {
    padding: {
        top: 78px; /*6%;*/
        bottom: 33px;
    }
    .vc_custom_heading {
        font: {
            family: "DroidSans";
        }
    }
    h3.vc_custom_heading {
        color: #000;
    }
    p.vc_custom_heading {
        color: #4d4d4d;
        margin-bottom: 48px; /*3%;*/
    }
}
.vc_row.our-photo {
    width: 100%;
    max-width: 870px;
    margin: {
        left: auto;
        right: auto;
    }
}

.vc_custom_heading.block-title {
    font: {
        family: "DroidSans";
        size: 45px;
    }
    color: #000;
    line-height: 1;
    margin-bottom: 16px;
}
.vc_custom_heading.block-title  ~ .wpb_text_column {
     font: {
        family: "HelveticaNeueCyrRoman";
        size: 17px;
    }
    color: #3f3f3f;
    line-height: 24px;
}
.our-photo {
    .vc_column_container {
        text-align: center;
        .wpb_single_image {
            margin-bottom: 20px;
        }
        .vc_column-inner {
            min-height: 356px;
        }
    }
    .vc_custom_heading {
        font: {
            size: 24px;
            family: "HelveticaNeueCyrRoman";
        }
        color: #000; 
        position: relative;
        display: inline-block;
        line-height: 1;
        margin-bottom: 20px;
    }
    .vc_custom_heading:after {
        content: '';
        width: 50px;
        height: 3px;
        background: #ee3c24;
        position: absolute;
        left: 0px;
        top: 100%;
    }
    p {
        color: #626262;
        font: {
            size: 16px;
            family: "HelveticaNeueCyrRoman";
        }
        line-height: 1.2;
    }
}
.block-welcom {
    padding: {
        top: 76px;
    }    
    .wpb_single_image {
        padding: {
            bottom: 35px;
        }
    }
    .vc_custom_heading {
        font: {
            family: "DroidSans";
            size: 45px;
        }
        color: #000;
        line-height: 1;
    }
    .wpb_text_column  {
        color: #3f3f3f;
        font: {
            family: "DroidSans";
            size: 18px;
        }
        line-height: 1;
    }
}
@media ( max-width: 991px)
{
    .container-contact {
        p {
            text-align: center;
        }
        .wpb_text_column {
            margin-bottom: 0px;
        }
        .vc_column_container > .vc_column-inner  {
            padding-top: 0px !important;
        }
    }
}
@media ( max-width: 766px)
{
    .wpcf7 {
        .wpcf7-form {
            .vc_column_container {
                text-align: center !important;
            }
        }
    }
    .vc_custom_heading.block-title {
        font: {
            size: 40px;
        }
    }
    .block-welcom {
        .vc_custom_heading {
            font: {
                size: 24px;
            }
        }
    }
}
.have-right-sidebar{
    .sidebar-right-container {
       float: right;
       width: 340px;
       /*margin-right: -15px;*/
    }
    .content-area {
        float: left;
        width: unquote("calc(100% - 350px)");
        margin-left: -15px;
    }
}
.blog-container {
    .blog-list:nth-of-type(n+2) {
        border-top: 1px solid #d5d5d5;
    }
}
.single-top-section, 
.blog-list {
    .article-views {
        font: {
            size:16px;
            family: "HelveticaNeueCyrRoman";
        }
        color: #ffffff;
        background: #3bb9a8;
        border-radius: 20px;
        padding: 4px 10px;
        span {
            margin-right: 4px;
        }
    }
}
.single-top-section {
    .article-views {
        background: #ffffff;
        color: #3bb9a8;
    }
}
.blog-list {
    margin: {
        /*right: -15px;*/
        /*left: -15px;*/
    }
    padding: {
        top: 36px;
        bottom: 40px;
    }
    .article-img {
        float: left;
        width: 142px;
        height: 142px;        
        img {
            width: 142px;
            height: 142px;
            border-radius:50%;            
        }
    }
    .article-content {
        float: right;
        width: unquote("calc(100% - 156px)"); 
        position: relative;
    }
    .article-title,
    .article-title a {
        font: {
            size:20px;
            family: "HelveticaNeueCyrRoman";
        }
        color: #000000;
        text-decoretion: none;
    }
    .article-title {
        margin: {
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 8px;
        }
    }
    .cat-container {
        margin-bottom:8px;
        .article-categories {
            display: inline;
            list-style: none;
            padding-right: 2px;
            margin: 0px;
            li {
                display: inline-block;
                padding-right: 6px;
                vertical-align: top;
                a {
                    color: #ee3c24;
                    font: {
                        size:13px;
                        family: "HelveticaNeueCyr";
                        weight: 600;
                    }
                    text-decoration: underline;
                }
                a:hover {
                    color: #ee3c24;
                }
            }
        }
    }
    .article-excerpt {
        background: #e3e8e7;
        padding: 30px;
        color: #515151;
        font: {
            size:15px;
            family: "HelveticaNeueCyrRoman";
        }
        p {
            margin: 0px;
        }        
    }
    .article-more-link {
        font-size: 0px;
        color: #ee3c24;
        position : absolute;
        bottom: 8px;
        right: 8px;
        .glyphicon {
            font-size: 28px;
        }
    }
}
.categories-mobile .cat-info {
    margin-right: 0px;
}

.blog-list:after {
    display: table;
    content: '';
    clear: both;
}
.cat-info  {
    padding-top: 36px;
}
.cat-info , 
.sidebar-right-container{
    display: block;
    vertical-align: top;
/*    margin-left: 3.87931034482759%;
    width: 240px;*/
    list-style: none;
    padding-left: 0px;
    margin: {
        right: -15px;
        left: 0px;
    }
    /*float: right;*/
    .widgettitle {
        font-size: 29px;
        line-height: 1;
        font-family: "DroidSans";
        margin-bottom: 20px;
    }
    .terms-lists {
        list-style: none;
        padding: 0px;
        font-size: 10px;
        margin-right: -2px;
        margin-left: -2px;
        li {
            float: left;
            a {
                display: block;
                background: #3bb9a8;
                border: 2px solid #3bb9a8;
                color: #fff;
                font-size: 16px;
                line-height: 1;
                font-family: "DroidSans";
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                padding: 6px 8px;
                margin: 0 2px 4px 2px;
                /* margin-bottom: 4px; */
                border-radius: 16px;
                white-space: nowrap;
            }
        }
        li.term-active a {
            background: none;
            color: #3bb9a8;
        }
    }
    .terms-lists:after {
        display: table;
        content: '';
        clear: both;
    }
}
.single-top-section {
    .dms-container {
        text-align: left;
        vertical-align: middle;
    }
    .page-title {
        margin-bottom: 20px;
    }
    .PSR_container {
        margin: 0 10px 0 0;
        vertical-align: middle;
        display: inline-block;
    }
    .article-views {
        vertical-align: middle;
        display: inline-block;
        .glyphicon {
            margin-right: 5px;
        }
    }
}
.single-section .single-container {
    padding-top: 36px;
    .wp-post-image {
        width: 100%;
        margin-bottom: 20px;
    }
}
.PSR_votes,
.PSR_tvotes,
.PSR_tvote {
    display: none;
}
.single-share {
    background: #e1e1e1;
    width: 100%;
    padding: 28px 30px 20px 30px;
    margin-bottom: 30px;
    font: {
        family: "HelveticaNeueCyr";
        weight: 600; //Medium
    }
    .table {
        display: table;
        margin-bottom: 0px;
        .tr {
            display: table-row;
            .td {
                display: table-cell;
                font-size: 18px;
                line-height: 1;
                color: #000;
                font-family: HelveticaNeueCyrMedium;
                vertical-align: top;
            }
            .td:nth-of-type(1) {
                width: 310px;
            }
        }
    }
}
.cat-info, .sidebar-right-container>li {
    margin-bottom: 24px;
}
.pgntn-page-pagination-block {
    width: 100%!important;
    margin-bottom: 14px;
    .prev.page-numbers,
    .next.page-numbers,
    .pgntn-page-pagination-intro {
        display: none;
    }
    .page-numbers:focus,
    .page-numbers:active,
    .page-numbers {
/*        .pgntn-page-pagination .current {*/
        outline: none;
        display: inline-block;
        text-align: center;
        margin: {
            left: 7px;
            bottom: 0px;
            right: 7px;
        }
        line-height: 1;
        padding: 5px 0px;
        width: 28px;
        /*.pgntn-page-pagination-intro, .pgntn-page-pagination .current {*/
        background-color: #c2cdcf !important;
        color: #000 !important;
        border: 1px solid #c2cdcf !important;
        border-radius: 50%;
        color: #000;
        font: {
            size:16px;
            family: "HelveticaNeueCyr";
            weight: 100;
        } 
    }
    .page-numbers:hover,
    .page-numbers.current {
       background-color: #ee3c24 !important;
        color: #fff !important;
        border: 1px solid #ee3c24 !important;
    }
}    

.dms-info-list {
    .smile_icon_list:after {
        content: '';
        display: table;
        clear: both;
    }
     padding-top: 48px;
    .smile_icon_list {
       
        li.icon_list_item {   
            display: inline-block !important;
            float: left;
            width: 25%;
            clear: none !important;
            .icon_list_icon {
                width: 30px;
                height: 27px;
                line-height: 1;
                padding-top: 3px;
                margin-top: 20px;
                i {
                    font-style: normal;
                    font-weight: bold;
                }
            }
            .icon_description {
                padding-left: 10px;
            }
        }
        li.icon_list_item:nth-of-type(1) {
            .icon_list_icon i:before{
                content: '1';
            }
        }
        li.icon_list_item:nth-of-type(2) {
            .icon_list_icon i:before{
                content: '2';
            }
        }
        li.icon_list_item:nth-of-type(3) {
            .icon_list_icon i:before{
                content: '3';
            }
        }
        li.icon_list_item:nth-of-type(4) {
            .icon_list_icon i:before{
                content: '4';
            }
        }
    }
}
.dms-info-list-air {
    .smile_icon_list 
    {        
        padding-bottom: 6%;
        .icon_list_item {
            width: 380px;
            position: relative !important;
            margin-bottom: 5px !important;
            .icon_list_icon {
                background: none;  
                position: initial;
                width: 100%;
                height: 0px;
                .list-img-icon {
                    position: absolute;
                    top: 50%;
                    -moz-transform: -moz-translateY(-50%);
                    -ms-transform: -ms-translateY(-50%);
                    -o-transform: -o-translateY(-50%);
                    -webkit-transform: -webkit-translateY(-50%);
                    transform: translateY(-50%);
                } 
            }
            .icon_description {
                background: #fff;
                position: relative;
                height: 50px;
                h3 {
                    font: {
                        size: 20px;
                        family: "HelveticaNeueCyrRoman";
                    }
                    color: #000000;
                }
                .icon_description_text {
                    font: {
                        size: 16px;
                        family: "HelveticaNeueCyrRoman";
                    }
                    color: #454545;
                }
            }
            .icon_description:after {
                display: block;
                content: '';
                position: absolute;
                height: 50px;  
                border-top: 25px solid #fff;
                border-bottom: 25px solid #fff;
                width: 50px;
                top: 0px;
                
            }
        }
        .icon_list_connector {
            display: none;                
        }
        .icon_list_item:nth-of-type(2n+1) {
            float: left;
            padding-left: 180px !important;
            .icon_list_icon {
                .list-img-icon {
                    left: 0px;
                } 
            }
            .icon_description {
                text-align: left;
                padding: 5px 0px 5px 10px;
            }
            .icon_description:after {
                left:100%;
                border-right: 25px solid rgba(0,0,0,0);
            }
        }
        
        .icon_list_item:nth-of-type(2n) {
            float: right;
            padding-right: 180px !important;
            .icon_list_icon {
                .list-img-icon {
                    right: 0px;
                } 
            }
            .icon_description {
                text-align: right;
                padding: 5px 10px 5px 0px;
            }
            .icon_description:after {
                right:100%;
                border-left: 25px solid rgba(0,0,0,0);
            }
        }
        .icon_list_item:nth-of-type(4n) {
            margin-right: 16% !important;
        }
        .icon_list_item:nth-of-type(4n+1) {
            margin-left: 10% !important;
        }
        .icon_list_item:nth-of-type(4n+2) {
            margin-right: 10% !important;
        }
        .icon_list_item:nth-of-type(4n+3) {
            margin-left: 5% !important;
        }
    }
}

.feedback-block 
{
    .wpb_column
    {
        background: #e3e8e7;
        padding:{
            top: 20px;
            left: 10px;
            right: 10px;
        }
        color: #515151;
        margin-bottom: 26px;
        font:
        {
            size: 16px;
            family: "HelveticaNeueCyrRoman";
        }
        .vc_column-inner > .wpb_wrapper > * {
            margin-top: 0px;
            margin-bottom: 20px;
            line-height: 1.4;            
        }
        p {
            margin-bottom: 10px;
        }
        .feedback-title:before
        {
            content: '';
            background: url(../images/hog.png) center center no-repeat;
            display: inline-block;
            width: 28px;
            height: 28px;
            margin-right: 10px;
            vertical-align: bottom;
        }
        .feedback-title
        {
            font:
            {
                size:25px;
                family: "HelveticaNeueCyrRoman";
            }
            color: #000;
            margin-bottom: 20px;
        }
        .feedback-author
        {
            font:
            {
                size:16px;
                family: "HelveticaNeueCyrRoman";
            }
            color: #000;
        }
    }
}
#home-block-12 {
    font-size: 18px;
}
.home-block-12 {
    color: #6c6c6c;
    font-size: 17px;
    font-family: 'HelveticaNeueCyrRoman';
    .uavc-list {
        .uavc-list-content {
            .uavc-list-icon  {
                margin-right: 20px !important;
            }
            .uavc-list-desc {
                padding: {
                    top:4px;
                    /*bottom:4px;*/
                }
                vertical-align: top;
            }
        }
    }
}
.home-block-12, 
.home-block-09
{
    background: #d8dcd9;
    h2.vc_custom_heading {
        color: #000000;
        font-size: 40px;
        font-family: 'HelveticaNeueCyrRoman';
        line-height: 1.2;
    }
    p {
        font: {
            size: 17px;
            family: 'HelveticaNeueCyrRoman';
        } 
        color: #626a6b;
        margin: 0px;
    }
}
.cost-conteiner 
{
    margin-bottom: 10px;
    > .wpb_column {
        background: #e3e8e7;
        padding: 40px 20px;        
    }
    > .wpb_column:nth-of-type(2n) {
        background: #fff;
    }
    .cost {
        border-radius: 20px;
        background: #fff !important;
        border: 1px solid #e3e8e7 !important;
        margin:
        {
            left: auto;
            right: auto;
            bottom: 10px;
        }
        width: 100px;
        padding: 0px 10px;
        font: {
            family: 'DroidSans';
        }
    }
    .wpb_text_column
    {
        color: #515050;
        font: {
            size: 17px;
            family: 'DroidSans';
        }
        min-height: 120px;
        margin-bottom: 0px;
        ul {
            padding-left: 16%;
        }
    }
    .wpb_single_image {
        margin-bottom: 10px;
    }
    .speek {
        font: {
            size: 23px;
            family: 'HelveticaNeueCyr';
            weight: bold;
        }
    }
    .ult-modal-input-wrapper.ult-adjust-bottom-margin.btn-enroll {
        margin-bottom: 0px;
        .btn-modal {
            background: #3bb9a8 !important;
            width: 100%;
            border: 1px solid #3bb9a8 !important;
            border-radius: 20px;
        }
    }
}
.home-block-13 {
    background: #27aca4;
    > .wpb_column {
        padding: {
            top:110px;
            bottom:96px;
        }
        color: #fff;
        > .vc_column-inner > .wpb_wrapper {
            position: relative;
            min-height: 233px;
            .vc_btn3-container.call-popup-form.btn-start
            {
                position: absolute;
                width: 100%;
                bottom: 0px;
                margin: 0px;
                left: 0px;
            }
        }
        h2.vc_custom_heading {
            font-size: 30px;
            font-family: 'HelveticaNeueCyrRoman';
            line-height: 1.2;
            padding-bottom: 20px;
        }
        > .vc_column-inner {
            max-width: 570px;
            margin: {
                left: auto;
                right: 0px;
            }
        }
        p {
            margin-bottom: 0px; 
            font: 
            {
                size: 20px;
                family: 'HelveticaNeueCyrRoman';
            }
            line-height: 1;
        }
        .wpcf7-form {
            label {
                display: block;
                input {
                    margin: 0 auto;
                    display: block;
                }
            }
            .wpcf7-form-control.wpcf7-submit {
                margin: 0 auto;
                display: block;   
                min-width: 200px;
                text-align: center;
            }
        }
    }
    > .wpb_column:nth-of-type(2n) {
        background: #3bb9a8;
        > .vc_column-inner {
            margin: {
                left: 0px;
                right: auto;
            }
        }
    }
}
.vc_btn3-container.call-popup-form.btn-start
{
    .vc_btn3.vc_btn3-color-danger {
        margin-bottom: 0px; 
        font: 
        {
            size: 16px;
            family: 'HelveticaNeueCyrRoman';
        }
        line-height: 1;
        text-transform: uppercase;
        border-radius: 50px;
        padding: {
            left: 60px;
            right: 20px;
            top: 14px;
            bottom: 14px;
        }
        line-height: 1;
        background: #ee3c24;
        border-color: #ee3c24;
        position: relative;
    }
    .vc_btn3.vc_btn3-color-danger:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 20px;
        -webkit-transform: -webkit-translateY(-50%);
        -o-transform: -o-translateY(-50%);
        -ms-transform: -ms-translateY(-50%);
        -moz-transform: -moz-translateY(-50%);
        transform: translateY(-50%);
        display: inline-block;
        width: 34px;
        height: 32px;
        background: url("../images/start.png") center center no-repeat;
    }
}

#home-block-13.home-block-14 {
    background-size: 1920px 680px !important;
    background-position: bottom center !important;
    background-repeat: no-repeat !important;    
}
.home-block-14
{
    padding: {
        /*top: 168px;*/
        top: 100px;
        bottom:160px;
    }
    /*color: #fff;*/
    h2.vc_custom_heading {
        font-size: 40px;
        font-family: 'HelveticaNeueCyrRoman';
        line-height: 1.2;
        padding-bottom: 66px;
    }
    .vc_column-inner {
        .wpb_single_image {
            margin-bottom: 10px;
        }
        div.vc_custom_heading {
            color: #000000;
            font-size: 22px;
            font-family: 'HelveticaNeueCyrRoman';
            line-height: 1;
            margin-bottom: 0px;
        }
        div.vc_custom_heading+div.vc_custom_heading {
            color: #505050;
            font-size: 17px;
            font-family: 'HelveticaNeueCyrRoman';
            line-height: 1;
            margin-bottom: 0px;
        }
    }
}
#home-block-17 {
     padding: {
        top: 112px;
        bottom:130px;
    }
}
#home-block-18 {
     padding: {
        top: 100px;
     }
}
#home-block-19 {
     padding: {
        top: 100px;
        bottom:100px;
    }
}
#home-block-20 {
     padding: {
        top: 115px;
        bottom:114px;
    }
    .blocks-header.vc_custom_heading {
        padding-bottom: 22px;
    }
}
#home-block-25 {
    padding: {
        top: 100px;
        bottom:100px;
    }
    .vc_custom_heading {
        padding-bottom: 12px;
    }
}
#home-block-20 {
    .wpb_single_image {        
        padding-bottom: 28px;
    }
}
body.single-post {
    .wp-post-image {
        width: 100%;
        padding: 22px;
        border: 2px dotted #e2e2e2;
    }
    .single-container.content-area {
        padding-top: 38px;
    }
}