/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.01.2017, 17:39:12
    Author     : dstaroselskiy
*/
.dms-container
{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;  
    float: initial !important;
}
.site-title:after,
.dms-container:after {
    content: '';
    display: table;
    clear: both;
}
body {
    background: #fff;
}
footer,
main,
header {
    width: 100%;
    padding: {
        left: 15px;
        right: 15px;
    }
}
header {
    padding: {
        top: 28px;
        bottom: 26px;
    }
    .site-title {
        float:left;
        font-size: 0px;
        * {
            display: inline;
        }
        .logotype-container {
            float:left;
            display: inline;
        }
    }
    .menu-call-btn-conteiner {        
        .navbar-toggle {
            border-color: #cacaca;
            border-width: 2px;
            margin-top: 0px;
            border: 0px;
            .icon-bar {
                background:  #606060;
            }
        }
    }
    .menu-container {
        float: right;
    }
    
}
.nav-menu {
    padding: 0px;
    margin: 0px;
    .menu-item {
        display: inline-block;
        font: {
             size: 16px;
        }
        a{ 
            font: {
                size: 16px;
                family: 'DroidSans';
            }
            color: #000;
            display: block;
            border-radius: 18px;
            padding: {
                left: 22px;
                right: 22px;
                top: 10px;
                bottom: 10px;
            }
            text-decoration: underline;
            line-height:15px;
            letter-spacing:0;
            transition: background-color 1s;
            text-transform: capitalize;
        }
        a:hover {
            text-decoration: none;
            color: #fff;
            background-color: #3bb9a8;
        }
    }
    .menu-item.menu-icon {
        margin-left: 6px;
        vertical-align: top;
        text-align: initial;
        a {
            background-color: #e0e0e0;
            color: #3bb9a8;
            text-decoration: none;
            padding: 0px;
            position: relative;
            width: 34px;
            height: 34px;
            .dashicons {
                position: relative;
                top: 10px;
                left: 9px;
                font: {
                    size: 20px;
                }
            } 
            .dashicons.dashicons-twitter {
                top: 11px;
                left: 9px;
            } 
            .dashicons.dashicons-facebook-alt {
                top: 10px;
                left: 7px;
            } 
        }        
        a:hover {
            text-decoration: none;
            color: #fff;
            background-color: #3bb9a8;
        }
    }
    .menu-item.current-menu-item,
    .menu-item.current_page_item {
        a {
            text-decoration: none;
            color: #fff;
            background-color: #3bb9a8;
        }
    }
}

footer {
    padding: {
        top: 20px;
        bottom: 20px;
    }
    font: {
        size: 13px;
        family: 'DroidSans';
    }
    .copyright-container {
        float: right;
        text-align: right;
        p {
            margin: 0px;
            
            a {
                color: #000;
            }
        }
    }
    .footer-menu {
        padding-left: 0px;
        list-style: none;
        margin: 0px;
        vertical-align:  middle;
        display: inline;
        .menu-item {
            display: inline;
            vertical-align:  middle; 
            margin-right: 10px;
            a {
                color: #000;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    .menu-container {
        vertical-align:  middle;
        display: inline;
        padding-top: 19px;
    }
}
@media (max-width: 500px)
{
    footer {
        .footer-menu,
        .menu-container,
        .menu-item
        {
            display: block;
            float: initial;
            text-align: center;
            margin: 0px;
            
        }
        .copyright-container {
            display: block;
            float: initial;
            text-align: center;
        }
        .menu-container {
            padding: {
                top: 0px;
            }
            .menu-item {
                margin: {
                    bottom: 10px;
                    right: 0px;
                    top: 0px;
                    left: 0px;
                }
                display: block;
                font: {
                    size: 16px;
                }
            }            
        }
    }
}
.blog-top-section {
    background: url('../images/header_bg.jpg') top left repeat;
    padding: {
        top:5%;
        bottom: 5%;
        left: 20px;
        right: 20px;
    }
    text-align: center;
    color: #fff;
       img {
        border-radius: 50%;
    }
}

.page-title {
    font: {
        size: 60px;
        family: 'HelveticaNeueCyrThin';
    }
}
 
 